.section-recipes-inside {
	background-color: #f7f7f7;
	padding-bottom: 50px;
	.content-main {
		max-width: 1000px;
		.content-section {
			img {
				display: block;
				width: 100%;
			}
		}
	}
	.m-content-sidebar {
		display: none;
	}
	.recipes-recomend-items {
		margin-top: 30px;
		margin-bottom: 50px;
		display: block;
		padding-left: 30px;
		.recomend-item {
			display: inline-block;
			&:not(:last-child) {
				margin-right: 30px;
			}
			.recomend-img {
				display: inline-block;
				img {

				}
			}
			.recomend-text {
				display: inline-block;
				margin-left: 20px;
				small {
					color: #9b9b9b;
					font-family: 'Roboto';
					font-size: 13px;
					font-weight: 400;
					letter-spacing: -0.5px;
					display: block;
					margin-bottom: 5px;
					margin-top: 3px;
				}
				strong {
					display: block;
					color: #000000;
					font-family: 'Roboto';
					font-size: 14px;
					font-weight: 500;
					line-height: 1;
				}	
			}
		}
	}
	.recipes-inside-btn-back {
		margin-bottom: 40px;
		display: block;
		.btn-back {
			color: #ffffff;
			font-family: 'Roboto';
			font-size: 15px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 1px;
			padding:16px;
		}
	}
	.recipes-inside-social-links {
		display: block;
		margin-bottom: 40px;
		border-top: 1px solid  #e7e7e3;
	 	border-bottom:1px solid  #e7e7e3;
	 	padding: 25px 0;
	}
	.recipes-more {
		font-family: 'Roboto';
		h2 {
			color: #000000;
			font-size: 30px;
			font-weight: 700;
			line-height: 40px;
			margin-bottom: 30px;
		}
		.resipe-list-smaller {
			display: inline-block;
			width: 100%;
			.recipe-item-card {
				float: left;
				width: (100%/3);
				margin:0;
				padding:0;
				height: 122px;
			}
			.recipe-item-card__pic {
				overflow: hidden;
				display: inline-block;
				width: 120px;
				height: 120px;
				padding-bottom: 0;
				background-size: cover;
			}
			.recipe-item-card__content {
				display: inline-block;
				vertical-align: top;
				padding:0;
				width: 200px;
				.recipe-item-card__title {
					padding:15px 0 0 0;
					margin-left: 15px;
				}
				.recipe-item-card__info {
					left: 120px;
					right: auto;
					bottom: 15px;
					margin-left: 15px;
				}
			}
		}
	}
}

@media (max-width: 740px) {
	.section-recipes-inside {
		.m-content-sidebar {
			display: block;
	        background-color: #fff;
	        padding: 15px;
	        margin-bottom: 15px;
	        .content-sidebar-title {
	            display: block;
	            text-align: left;
	            position: relative;
	            h3 {
	                color: #000000;
	                font-family: 'Roboto';
	                font-size: 22px;
	                font-weight: 700;
	                margin-bottom: 20px;
	            }
	            i {
	                font-size: 18px;
	                line-height: 18px;
	                color: $blue;
	                position: absolute;
	                right: 0;
	                top: 0;
	            }
	        }
	        ul {
	            padding:0 0 0 20px;
	            margin:0;
	            li {
	                color: #00519b;
	                text-align: left;
	                margin-bottom: 20px;
	                &:last-child {
	                	margin-bottom: 0;
	                }
	            }
	            b {
	                color: #000;
	                font-family: 'Roboto';
	                font-size: 14px;
	                font-weight: 500;
	                line-height: 1;
	            }
	        }
		}
		.recipes-recomend-items {
			padding-left: 0;
			margin-bottom: 20px;
			text-align: center;
			.recomend-item {
				display: block;
				margin-right: 0 !important;
				margin-bottom: 15px;
			}
		}
		.content-aside {
			.content-sidebar {
				display: none;
			}
		}
		.recipes-more {
			.resipe-list-smaller {
				.recipe-item-card {
					width: 100%;
					margin-bottom: 15px;
				}
			}
		}
	}
}