.content {
    position: relative;
    background-color: #f7f7f7;
    .section-title {
        .title-icon {
            span {
                vertical-align: middle;
            }
            img {
                margin-bottom: 0;
                margin-right: 25px;
            }
        }
    }
    .content-in {
        padding: 30px;
        font-family: "Roboto";
        &.fixed-width {
            max-width: 1000px;
        }
        &.content-centered {
            margin: 0 auto;
        }
        .content-section {
            margin-bottom: 30px;
        }
        .section-partners {
            padding-top: 20px;
        }
        h1 {
            font-size: 30px;
            font-weight: 700;
            line-height: 40px;
            margin-bottom: 20px;
        }
        img {
            margin-bottom: 20px;
        }
        h3 {
            font-size: 22px;
            font-weight: 700;
            margin-bottom: 20px;
        }
        p {
            margin-bottom: 30px;
            font-family: "Open Sans";
            font-size: 14px;
            line-height: 20px;
            b {
                font-family: "Roboto";
                font-size: 17px;
                font-weight: 700;
                line-height: 20px;
            }
        }
    }
    .items-list {
        margin-bottom: 40px;
        .item {
            padding-right: 30px;
            .item-list-head {
                margin-bottom: 15px;
                .num {
                    color: $blue;
                    font-size: 50px;
                    font-weight: 500;
                    line-height: 60px;
                }
                .pic {
                    height: 70px;
                    display: inline-flex;
                    align-items: center;
                    img {
                        margin: 0;
                    }
                }
            }
            .item-list-text {
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
                b {
                    font-size: 17px;
                    line-height: 20px;
                }
            }
        }
    }
}

$content-sidebar-width: 360px;


.content-in {
    position: relative;
    &.content-aside {
        .content-main {
            margin-right: $content-sidebar-width + 30px;
        }
    }
    .content-slider {
        position: relative;
    }
    .swiper-controls {
        position: absolute;
        z-index: 3;
        margin: 0 0 35px 20px;
        bottom: 0;
        left: 0;
        right: 0;
        .swiper-action-btn {
            border-radius: 50%;
            cursor: pointer;
            width: 50px;
            height: 50px;
            background: #fff;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin-right: 25px;
            transition: all .2s ease-in-out;
            &:hover {
                background: $green;
                color: #fff;
            }
        }
        .swiper-pagination {
            position: absolute;
            right: $promo-menu-width + 60px;
            top: 50%;
            transform: translateY(-50%);
            .swiper-pagination-bullet {
                background: #fff;
                width: 10px;
                height: 10px;
                opacity: .5;
                &:not(:last-child) {
                    margin-right: 40px;
                }
                &-active {
                    opacity: 1;
                }
            }
        }
    }
    .content-main {
        display: block;
        .content-main-title {
            display: block;
            h2 {
                color: #000000;
                font-family: 'Roboto';
                font-size: 30px;
                font-weight: 700;
                line-height: 1;
                margin-bottom: 30px;
            }
        }
    }
    .content-sidebar {
        width: $content-sidebar-width;
        position: absolute;
        right: 20px;
        top: 0;
        padding: 20px;
        background-color: #fff;
        transition: top .3s linear;
        &.fixed {
            position: fixed;
            top: 40px;
            right: 20px;
            transition: top .3s linear;

        }
        &.absolut {
            position: absolute;
            right: 20px !important;
            transition: top .3s linear;
        }
        .content-sidebar-title {
            display: block;
            text-align: left;
            position: relative;
            h3 {
                color: #000000;
                font-family: 'Roboto';
                font-size: 22px;
                font-weight: 700;
                margin-bottom: 20px;
            }
            i {
                font-size: 18px;
                line-height: 18px;
                color: $blue;
                position: absolute;
                right: 0;
                top: 0;
            }
        }
        ul {
            padding:0 0 0 20px;
            margin:0;
            li {
                color: #00519b;
                text-align: left;
                margin-bottom: 20px;
            }
            b {
                color: #000;
                font-family: 'Roboto';
                font-size: 14px;
                font-weight: 500;
                line-height: 1;
            }
        }
    }
}
.list-partners {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    .item-partner {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 20%;
        padding: 0 14px;
        margin-bottom: 36px;
        img {
            margin: 0;
        }
    }
}

@media (max-width:740px) {
    body {
        .content {
            height: auto !important;
        }
    }
    .content {
        width: 100% !important; 
        padding-top: 80px;
        height: 100%;
        .content-main {
            margin-right: 0 !important;
        }
        .content-in {
            padding: 0 15px;
        }
        .content-section {
            h1 {
                font-size: 20px !important;
                line-height: 26px;
            }
            h3 {
                font-size: 18px;
                line-height: 24px;
            }
            .items-list {
                .row {
                    margin: 0 !important;
                }
                .col-lg-4 {
                    padding:0 !important;
                    &:not(:last-child) {
                        margin-bottom: 15px;
                    }
                    .item {
                        padding-right: 0 !important;
                        font-size: 0;
                        .item-list-head {
                            display: inline-block;
                            vertical-align: top;
                            margin-bottom: 0;
                            width: 15%;
                            .num {
                                display: inline-block;
                                line-height: 50px;
                            }
                            .pic {
                                display: inline-block;
                                width: 100%;
                                img {
                                    width: 100%;
                                }
                            }
                        }
                        .item-list-text {
                            display: inline-block;
                            vertical-align: top;
                            float: right;
                            width: 80%;
                            b {
                                font-size: 14px !important;
                                font-weight: 500 !important;
                            }
                        }
                    }
                }
            }
        }
    }
}