// Using @font-face
// Just only three file formats required
// no need to include files with svg or eot extensions
// With these three formats we have pretty good browsers support e.g.
// Chrome 3.5+, Safari 3+, Firefox 3.5+, Opera 10.1+, IE9+, Android 2.2+, iOS 4.3+

// @font-face {
//   font-family: "PT Sans";
//   src:
//     inline("#{$path-fonts}/pt_sans-web-regular-webfont.woff2") format("woff2"),
//     inline("#{$path-fonts}/pt_sans-web-regular-webfont.woff") format("woff");
//     // inline("#{$path-fonts}/pt_sans-web-regular-webfont.ttf")  format("truetype");
//   font-style: normal;
//   font-weight: normal;
// }

@font-face {
	font-family: 'Roboto';
	src: url('#{$path-fonts}/Roboto-Italic.woff2') format('woff2'),
		url('#{$path-fonts}/Roboto-Italic.woff') format('woff'),
		url('#{$path-fonts}/Roboto-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('#{$path-fonts}/OpenSans-ExtraBoldItalic.woff2') format('woff2'),
		url('#{$path-fonts}/OpenSans-ExtraBoldItalic.woff') format('woff'),
		url('#{$path-fonts}/OpenSans-ExtraBoldItalic.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('#{$path-fonts}/OpenSans-ExtraBold.woff2') format('woff2'),
		url('#{$path-fonts}/OpenSans-ExtraBold.woff') format('woff'),
		url('#{$path-fonts}/OpenSans-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('#{$path-fonts}/Roboto-Light.woff2') format('woff2'),
		url('#{$path-fonts}/Roboto-Light.woff') format('woff'),
		url('#{$path-fonts}/Roboto-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('#{$path-fonts}/Roboto-Thin.woff2') format('woff2'),
		url('#{$path-fonts}/Roboto-Thin.woff') format('woff'),
		url('#{$path-fonts}/Roboto-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('#{$path-fonts}/Roboto-Black.woff2') format('woff2'),
		url('#{$path-fonts}/Roboto-Black.woff') format('woff'),
		url('#{$path-fonts}/Roboto-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('#{$path-fonts}/Roboto-Regular.woff2') format('woff2'),
		url('#{$path-fonts}/Roboto-Regular.woff') format('woff'),
		url('#{$path-fonts}/Roboto-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('#{$path-fonts}/Roboto-LightItalic.woff2') format('woff2'),
		url('#{$path-fonts}/Roboto-LightItalic.woff') format('woff'),
		url('#{$path-fonts}/Roboto-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('#{$path-fonts}/OpenSans-BoldItalic.woff2') format('woff2'),
		url('#{$path-fonts}/OpenSans-BoldItalic.woff') format('woff'),
		url('#{$path-fonts}/OpenSans-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('#{$path-fonts}/OpenSans-Italic.woff2') format('woff2'),
		url('#{$path-fonts}/OpenSans-Italic.woff') format('woff'),
		url('#{$path-fonts}/OpenSans-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('#{$path-fonts}/OpenSans-Light.woff2') format('woff2'),
		url('#{$path-fonts}/OpenSans-Light.woff') format('woff'),
		url('#{$path-fonts}/OpenSans-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('#{$path-fonts}/OpenSans-Bold.woff2') format('woff2'),
		url('#{$path-fonts}/OpenSans-Bold.woff') format('woff'),
		url('#{$path-fonts}/OpenSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('#{$path-fonts}/OpenSans-Regular.woff2') format('woff2'),
		url('#{$path-fonts}/OpenSans-Regular.woff') format('woff'),
		url('#{$path-fonts}/OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('#{$path-fonts}/OpenSans-LightItalic.woff2') format('woff2'),
		url('#{$path-fonts}/OpenSans-LightItalic.woff') format('woff'),
		url('#{$path-fonts}/OpenSans-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('#{$path-fonts}/Roboto-BlackItalic.woff2') format('woff2'),
		url('#{$path-fonts}/Roboto-BlackItalic.woff') format('woff'),
		url('#{$path-fonts}/Roboto-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('#{$path-fonts}/Roboto-Bold.woff2') format('woff2'),
		url('#{$path-fonts}/Roboto-Bold.woff') format('woff'),
		url('#{$path-fonts}/Roboto-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('#{$path-fonts}/OpenSans-SemiBold.woff2') format('woff2'),
		url('#{$path-fonts}/OpenSans-SemiBold.woff') format('woff'),
		url('#{$path-fonts}/OpenSans-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('#{$path-fonts}/Roboto-ThinItalic.woff2') format('woff2'),
		url('#{$path-fonts}/Roboto-ThinItalic.woff') format('woff'),
		url('#{$path-fonts}/Roboto-ThinItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('#{$path-fonts}/Roboto-BoldItalic.woff2') format('woff2'),
		url('#{$path-fonts}/Roboto-BoldItalic.woff') format('woff'),
		url('#{$path-fonts}/Roboto-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('#{$path-fonts}/OpenSans-SemiBoldItalic.woff2') format('woff2'),
		url('#{$path-fonts}/OpenSans-SemiBoldItalic.woff') format('woff'),
		url('#{$path-fonts}/OpenSans-SemiBoldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('#{$path-fonts}/Roboto-MediumItalic.woff2') format('woff2'),
		url('#{$path-fonts}/Roboto-MediumItalic.woff') format('woff'),
		url('#{$path-fonts}/Roboto-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('#{$path-fonts}/Roboto-Medium.woff2') format('woff2'),
		url('#{$path-fonts}/Roboto-Medium.woff') format('woff'),
		url('#{$path-fonts}/Roboto-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}