// **********************************************************************************
$input-font-size: $font-size-base !default;
$input-border-width: 1px !default;
$input-border-radius: 3px !default;
$input-height-base: 30px !default;
$form-group-margin-bottom:  15px !default;
// *************************************************************************

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: $font-size-base;
  line-height: inherit;
  border: 0;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="search"] {
  box-sizing: border-box;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9; // IE8-9
  line-height: normal;
}

input[type="file"] {
  display: block;
}

input[type="range"] {
  display: block;
  width: 100%;
}

select[multiple],
select[size] {
  height: auto;
}

output {
  display: block;
  margin: 0;
  padding: 0;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $input-color;
}
.form-control-item {
  .help.is-danger {
    font-size: 13px;
    display: inline-block;
    color: red;
    margin-top: 5px;
  }
}
.form-control {
  display: block;
  width: 100%;
  height: $input-height-base;
  padding: 6px 12px;
  font-size: $input-font-size;
  line-height: 1.42857143;
  color: $input-color;
  background-color: $input-bg;
  background-image: none;
  border: 0;
  border-bottom: $input-border-width solid $input-border;
  border-radius: $input-border-radius;
  box-shadow: inset 0 1px 1px rgba(black,.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  outline: none !important;
  &.is-danger {
    color: red;
    border: 1px solid red !important;
  }
  &::placeholder {
    color: $input-color-placeholder;
  }

  &::-ms-expand {
    border: 0;
    background-color: transparent;
  }

  &:focus {
    &::placeholder {
      color: rgba($input-color-placeholder,.5);
    }
    $color-rgba: rgba(red($input-border-focus), green($input-border-focus), blue($input-border-focus), .6);
    border-color: $input-border-focus;
    box-shadow: inset 0 1px 1px rgba(black,.075), 0 0 8px $color-rgba;
  }

  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    background-color: $input-bg-disabled;
    opacity: 1;
  }

  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
  }

}

textarea.form-control {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: none;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="date"],
  input[type="time"],
  input[type="datetime-local"],
  input[type="month"] {
    &.form-control {
      line-height: $input-height-base;
    }
  }
}

.form-group {
  margin-bottom: $form-group-margin-bottom;
}

.form-group {
  .form-control-item {
    margin-bottom: 10px;
    @include clearfix;
    .label {
      margin-bottom: 10px;
      display: block;
    }
    .form-control {
      box-shadow: none;
      border-radius: 0;
      height: 2.5rem;
      background: #f7f7f7;
      border: 0;
      width: 100%;
    }
  }
}
.radio {
  input[type="radio"] {
    position: absolute;
    left: -9999px;
    &:checked {
      & ~ label {
        background: $blue;
        color: #fff;
        &::after {
          display: inline-block;
        }
        &::before {
          border-color: $brand-secondary;
        }
      }
    }
  }
  label {
    display: inline-flex;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 0;
    cursor: pointer;
    height: 50px;
    padding-left: 50px;
    &::before,
    &::after {
      content: "";
      border-radius: 50%;
      left: 15px;
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
    }
    &::before {
      width: 20px;
      height: 20px;
      border: 2px solid #9b9b9b;
      border-radius: 50%;
      position: absolute;
    }
    &::after {
      display: none;
      width: 10px;
      height: 10px;
      left: 20px;
      background: $brand-secondary;
    }
  }
}
.checkbox {
  input[type="checkbox"] {
    position: absolute;
    left: -9999px;
    &:checked {
      & ~ label {
        &::after {
          display: inline-block;
        }
        &::before {
          border-color: $brand-secondary;
        }
      }
    }
  }
  label {
    display: inline-flex;
    align-items: center;
    position: relative;
    margin: 0;
    cursor: pointer;
    padding: 5px 0;
    padding-left: 50px;
    &::before,
    &::after {
      content: "";
      left: 15px;
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
    }
    &::before {
      width: 20px;
      height: 20px;
      border: 2px solid #9b9b9b;
      position: absolute;
    }
    &::after {
      display: none;
      width: 10px;
      height: 10px;
      left: 20px;
      background: $brand-secondary;
    }
  }
}
.checkout-block {
  font-family: "Roboto";
  width: 385px;
  float: right;
  position: relative;
  margin-right: 20px;
  &.disable {
    opacity: 0.5;
    cursor: not-allowed;
    &::before {
      content: "";
      @include stretch;
      z-index: 1;
    }
  }
  .checkout-form {
      padding: 30px;
      background: #fff;
      .btn {
        padding: 15px 30px;
        text-transform: uppercase;
      }
      .form-control-item{
        .radio {
          width: 50%;
          float: left;
          border: .125rem solid #e7e7e3;
          border-collapse: collapse;
          &:last-child {
            border-left: 0;
          }
      }
    }
  }
  .total-sum {
    display: block;
    width: 100%;
    padding: 20px 30px;
    background: #00519b;
    color: #fff;
    font-size: 22px;
    &-green {
      background: $green;
    }
  }
  .checkout-form-desc {
    font-family: "Open Sans";
    color: #000;
    .required {
      margin-right: 5px;
      color: $brand-secondary;
    }
  }
  .checkout-form-title {
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 10px;
  }
}