@font-face {
  font-family: 'iconfont';
  src: 	url('#{$path-fonts}/iconfont.ttf') format('truetype'),
    url('#{$path-fonts}/iconfont.woff') format('woff'),
    url('#{$path-fonts}/iconfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-arrow-down::before {
	content: "\ea01";
}

.icon-arrow-left::before {
	content: "\ea02";
}

.icon-arrow-right::before {
	content: "\ea03";
}

.icon-book::before {
	content: "\ea04";
}

.icon-cart::before {
	content: "\ea05";
}

.icon-close::before {
	content: "\ea06";
}

.icon-desc::before {
	content: "\ea07";
}

.icon-facebook::before {
	content: "\ea08";
}

.icon-instagram::before {
	content: "\ea09";
}

.icon-mail::before {
	content: "\ea0a";
}

.icon-marker::before {
	content: "\ea0b";
}

.icon-minus::before {
	content: "\ea0c";
}

.icon-peoples::before {
	content: "\ea0d";
}

.icon-phone::before {
	content: "\ea0e";
}

.icon-plus::before {
	content: "\ea0f";
}

.icon-timer::before {
	content: "\ea10";
}