html,
body,
.wrapper {
  height: 100%;
}

body {
  min-width: $layout-min-width + $layout-offset*2;
  overflow: hidden;
}

.wrapper-in { // wrapper
  position: relative;
  height: 100%;
}

.overlay {
  background: rgba(#000, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: none;
}
.app {
  height: 100%;
}
.content {
  overflow: auto;
  height: 100%;
  width: calc(100% - #{$sidebar-width});
}

@media (max-width:740px) {
  body {
    overflow: auto;
    min-width: 100% !important;
  }
}