a {
  color: $link-color;
  text-decoration: none;
  outline: none !important;
  transition: .2s color;

  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: none;
  }

}

.link-unstyled { // ссылка без форматирования
  text-decoration: none !important;
}

.link-block { // блочная ссылка
  @extend .link-unstyled;
  display: block;
}

.link-pseudo {
  > span {
    display: inline-block;
    vertical-align: middle;
  }
}



// social-links
.social-links {
  display: block;
  height: 25px;
  line-height: 25px;
  .social-title {
    display: inline-block;
    margin-right: 35px;
    b {
      color: #000000;
      font-family: 'Roboto';
      font-size: 14px;
      font-weight: 500;
      line-height: 1;
      display: inline-block;
    }
  }
  .likely {
    display: inline-block;
    margin: 0 !important;
    vertical-align: middle;
    div {
      display: inline-block;
      margin: 0 5px 0 0 !important; 
    }
  }
}