// переменные проекта

$font-family-base: "Open Sans", Helvetica, Arial, sans-serif !default;

$font-size-base: 14px !default;
$line-height-base: 16px !default;

$sidebar-width: 256px;
$footer-height: 235px;
$promo-menu-width: 320px;
$catalog-navbar-height: 80px;