// размеры устройств
// **********************************************************************************
$device-phone:      480px;
$device-tablet:     768px;
$device-desktop:    960px;
$device-large:      1000px;

$screen-sm-min:     $device-tablet;
$screen-md-min:     $device-desktop;
$screen-lg-min:     $device-large;

$screen-xs-max:     ($screen-sm-min - 1) !default;
$screen-sm-max:     ($screen-md-min - 1) !default;
$screen-md-max:     ($screen-lg-min - 1) !default;

$grid-col-prefix:   col; // префикс колонок
$grid-col-phone:    xs;
$grid-col-tablet:   sm;
$grid-col-desktop:  md;
$grid-col-large:    lg;
$grid-columns:      12 !default; // число колонок
$grid-gutter-width: 20px !default; // расстояние между колонками

// видимость блоков
$visible-phone:     show-#{$grid-col-phone}; // видно на телефоне
$visible-tablet:    show-#{$grid-col-tablet}; // на планшете
$visible-desktop:   show-#{$grid-col-desktop}; // на десктопе
$visible-max:       show-#{$grid-col-large}; // на большом мониторе
$hidden-phone:      hide-#{$grid-col-phone}; // не видно на телефоне
$hidden-tablet:     hide-#{$grid-col-tablet}; // на планшете
$hidden-desktop:    hide-#{$grid-col-desktop}; // на десктопе
$hidden-max:        hide-#{$grid-col-large}; // на большом мониторе

// точки для адаптации
// **********************************************************************************
$respond-phone:     "(max-width: #{($device-tablet)})";
$respond-tablet:    "(min-width: #{($device-tablet + 1px)}) and (max-width: #{($device-desktop)})";
$respond-desktop:   "(min-width: #{($device-desktop + 1px)}) and (max-width: #{($device-large)})";
$respond-large:     "(min-width: #{($device-desktop + 80px + 1px)})";

$respond-portrait:    "(orientation:portrait)";
$respond-landscape:   "(orientation:landscape)";
