// префиксы страниц
// *************************************************************************

$template-catalog: '[data-template="catalog"]';
$template-product: '[data-template="product"]';
$template-cart: '[data-template="cart"]';