.reload.btn{ margin-right:6px; }
jGrowl-notification{ postion:relative; }
.message{ padding-left:21px; width:auto; display:block; background-repeat:no-repeat !important; }
.message-icon{ display:block; position:absolute; left:18px; top:29px; }
.ajaxControl.arguments{ margin-left:12px; }

#applicationComponents .item{ word-break:break-all; }

#applicationComponents .item.active{
	background:transparent url(../images/opacityGreen.png) repeat;
}
#applicationComponents .item.notExists{ }

#applicationComponents .item.error{ }
#applicationComponents .item .attribute{ font-size:11.5px; margin-bottom:0px; }
#applicationComponents .item .attribute.path{ font-size:10px; margin:0px 0px 10px 0px; }
#applicationComponents .item strong,
#applicationComponents .item label{ font-weight:bold; }
#applicationComponents .item .title{ font-size:16px; font-weight:bold; margin-bottom:0px; }
#applicationComponents .item .description{ font-size:11px; margin-top:-4px; margin-bottom:10px; }
#applicationComponents .item .stateButtons{ margin-top:14px; }
#applicationComponents .item .reqierements ul{ display:inline; list-style:none; padding:0px; margin:0px; }
#applicationComponents .item .reqierements li{ display:inline; list-style:none; padding:0px; margin:0px; color:#999999; }
#applicationComponents .item .reqierements li.notExists{ color:#FF0000; }
#applicationComponents .item .reqierements li.active{ color:#006600; }

#applicationComponents .buttonsPanel{ display:block; float:none; clear:both; margin-bottom:32px; margin-top:12px; padding:8px; }
#applicationComponents .item .arguments{
	display:block; float:none;
	margin:24px 0 0 0; clear:both;
}

#langChange{ display:none; }