#{$template-cart} .catalog {
    background: #f7f7f7;
}

.cart {
    background: #f7f7f7;
    .cart-title {
        font-family: 'Roboto';
        font-size: 30px;
        line-height: 38px;
        padding: 30px 20px;
        .total-cart {
            color: $brand-secondary;
            margin-left: 10px;
        }
        button {
            font-family: 'Roboto';
            font-size: 14px;
            line-height: 18px;
            display: inline-flex;
            align-items: center;
            margin-left: 30%;
            span {
                display: inline-block;
                margin-left: 10px;
            }
            .icon {
                color: $brand-secondary;
                font-size: 22px;
            }
        }
    }
    .cart-send {
        max-width: 500px;
        margin: 100px auto;
        .section-text {
            margin-bottom: 45px;
            font-size: 20px;
            line-height: 26px;
            letter-spacing: -.2px;
        }
        .btn {
            padding: 15px 40px;
        }
    }
    .items {
        .item {
            position: relative;
            background: #fff;
            min-height: 100px;
            margin: 0 20px;
            margin-bottom: 20px;
            .select-wrapper {
                position: relative;
                background-color: #f7f7f7;
                &::before {
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                    font-family: 'iconfont' !important;
                    @extend .icon-arrow-down;
                    font-size: 7px;
                    pointer-events: none;
                    color: #9b9b9b;
                }
            }
            select {
                position: relative;
                z-index: 1;
                height: 40px;
                padding: 10px 20px;
                width: 170px;
                display: inline-block;
                border: 0;
                border-radius: 0;
                -webkit-appearance: none;
                font-family: "Roboto";
                font-weight: 500;
                line-height: 20px;
                background: transparent;
                &:focus {
                    outline: none;
                }
            }
        }
        .item-image {
            position: absolute;
            left: 0;
            top: 0;
            width: 150px;
            height: 100px;
            background-size: cover;
            float: left;
        }
        .item-title {
            max-width: 225px;
        }
        .item-details {
            position: absolute;
            left: 150px;
            padding-right: 220px;
            top: 0;
            bottom: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        .item-controls {
            width: 120px;
            * {
                width: 40px;
                height: 40px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                float: left;
            }
            button {
                background-color: #f7f7f7;
                font-size: 18px;
            }
            span {
                background: $brand-secondary;
                color: #fff;
            }
        }
        .item-price {
            b {
                color: $blue;
                display: block;
                font-family: "Roboto";
                font-size: 22px;
                font-weight: 500;
                margin-bottom: 5px;
            }
            span {
                display: inline-block;
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 7px;
            }
            &.item-price-helper {
                align-items: center;
                display: inline-flex;
                background: #ebf2e4;
                width: 210px;
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                padding: 0 80px 0 30px;
            }
        }
        .remove-item {
            font-size: 20px;
            color: #9b9b9b;
            cursor: pointer;
            position: absolute;
            right: 25px;
            &:hover {
                color: red;
            }
        }
    }
    .cart-empty {
        font-size: 30px;
        display: block;
        text-align: center;
        padding: 30px 0;
    }
}

.cart-info {
    width: calc(100% - 385px);
    max-width: 700px;
    padding: 40px;
    .cart-info-pic {
        margin-bottom: 20px;
    }
    .cart-info-item {
        p {
            font-family: "Open Sans";
            font-size: 14px;
            line-height: 20px;
            b {
                font-family: "Roboto";
                font-size: 17px;
                font-weight: 700;
                line-height: 20px;
            }
            small {
                font-size: 13px;
                letter-spacing: -0.5px;
                color: #515151;
            }
        }
    }
}

@media (max-width:740px) {
    .cart {
        padding-top: 0 !important;
    }
    .shopping-cart {
        padding: 0 15px;
        .cart {
            margin-bottom: 15px;
            .cart-title {
                padding: 15px 0;
                font-size: 25px;
                line-height: 25px;
                button {
                    margin-left: 0;
                    margin-top: 4px;
                    float: right;
                }
            }
            .items {
                .item {
                    height: auto;
                    margin:0 0 15px 0;
                    padding: 10px 10px;
                    // border: 1px solid $green;
                    .item-image {
                        display: none;
                        position: static;
                        width: 100%;
                        height: 180px;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                        margin-bottom: 10px;
                    }
                    .item-details {
                        position: static;
                        padding-right: 0;
                        display: block;
                    }
                    .item-title {
                        display: block;
                        width: 100%;
                        max-width: initial;
                        padding: 0 45px 0 0;
                        font-size: 18px;
                        line-height: 20px;
                    }
                    .item-controls {
                        position: static;
                        display: inline-block;
                        width: 50%;
                    }
                    .item-price {
                        width: 55%;
                        margin:5px 0;
                        position: static;
                        padding: 0;
                        display: inline-block;
                        float: left;
                        &.item-price-helper {
                            float: right !important;
                            width: auto;
                            background-color: transparent;
                        }
                    }
                    .select-wrapper {
                        width: 50%;
                        float:right;

                        select {
                            width: 100%;
                            padding: .625rem 1.25rem;
                        }
                    }

                    .remove-item {
                        // background-color:#f7f7f7;
                        width: 40px;
                        height: 40px;
                        line-height: 40px;
                        text-align: center;
                        position: absolute;
                        top: 10px;
                        right: 0;
                        i {
                            color: $green;
                        }
                    }
                }
            }
        }
        .cart-total {
            margin-top: 15px;
            .checkout-block {
                width: 100%;
                margin-right: 0;

                .checkout-form {
                    padding: 10px;
                }
            }
        }
        .cart-info {
            width: 100%;
            max-width: 100%;
            padding: 0;
        }
    }
}