// подвал сайта

// ================================================================

.footer {
  height: $footer-height;
  margin: 0 25px;
  border-top: 1px solid #e1e1e1;
  padding-top: 30px;
  .footer-contacts {
    .icon {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      color: $blue;
      border: 1px solid #e1e1e1;
      margin-bottom: 20px;
      display: none;
    }
    span {
      font-size: 13px;
    }
    .contacts-number {
      display: block;
      font-size: 15px;
      margin-bottom: 5px;
    }
  }
  .social-icons {
    margin: 25px 0;
    li {
      &:not(:last-child) {
        margin-right: 25px;
      }
    }
  }
  .footer-made-in {
    margin-bottom: 0;
    a {
      color: $blue;
      text-decoration: underline;
    }
  }
  .link_lang {
    a {
      color: #000;
      border-bottom: 1px solid $brand-secondary;
    }
  }
}