<!-- .footer -->
<footer class="footer">
  <div class="footer-contacts">
    <i class="icon icon-phone"></i>
    <b class="contacts-number">
      + 7 (727) 317 01 17
    </b>
    <span>Пр. Суюнбая, 211, Алматы, Казахстан</span>
  </div>
  <ul class="social-icons">
    {% set items = [
      {
        icon: 'facebook'
      },
      {
        icon: 'instagram'
      }
    ] %}
    {% for item in items %}
      {% include 'social-icons/_social-icons.html' %}
    {% endfor %}
  </ul>
  <div class="link_lang">
    <a href="#">english</a>
  </div>
</footer><!-- end .footer -->
