<div class="stock">
    <div class="section-title">
        <h2>Акции</h2>
        <p>Заказы на продукцию интернет-магазина Ocean Fresh принимаются за <br> неделю до доставки продукции по следующим правилам.</p>
    </div>
    <div class="stock__list">
        <div class="list__item">
            <div class="column column-image">
                <div class="item__img" style="background-image: url(../images/pic-stock-01.png)"></div>
                <div class="item__badge">
                    1+1
                </div>
            </div>
            <div class="column column-desc">
                <div class="item__title">Брискет</div>
                <div class="item__text">
                    Устройте праздник на работе! С понедельника по четверг с 10:00 до 17:00 любые четыре большие пиццы диаметром 35 см по цене трех — всего за 9450 тенге * Акция не действует в выходные, праздничные и предпраздничные дни. Промо-код - D200
                </div>
                <div class="item__date">с 1—30 апреля</div>
            </div>
        </div>
        <div class="list__item">
            <div class="column column-image">
                <div class="item__img" style="background-image: url(../images/pic-stock-01.png)"></div>
                <div class="item__badge">
                    Розыгрыш
                </div>
            </div>
            <div class="column column-desc">
                <div class="item__title">Брискет</div>
                <div class="item__text">
                    Устройте праздник на работе! С понедельника по четверг с 10:00 до 17:00 любые четыре большие пиццы диаметром 35 см по цене трех — всего за 9450 тенге * Акция не действует в выходные, праздничные и предпраздничные дни. Промо-код - D200
                </div>
                <div class="item__date">с 1—30 апреля</div>
            </div>
        </div>
    </div>
</div>