$stockImgWidth: 350px;

.stock {
    .section-title {
        margin-bottom: 30px;
        h2 {
            font-size: 30px;
            font-weight: 700;
            line-height: 40px;
            margin-bottom: 20px;
        }
        p {
            font-size: 17px;
            font-weight: 700;
            line-height: 20px;
        }
    }
    .list__item {
        display: flex;
        background: #fff;
        @include respond-to($respond-phone) {
            flex-wrap: wrap;
        }
        &:not(:last-child) {
            margin-bottom: 20px;
        }
        .column {
            float: none;
        }
        .column-image {
            width: $stockImgWidth;
            position: relative;
            @include respond-to($respond-phone) {
                width: 100%;
                min-height: 250px;
            }
        }
        .column-desc {
            width: calc(100% - #{$stockImgWidth});
            padding: 30px 90px 30px 130px;
            @include respond-to($respond-phone) {
                width: 100%;
                padding: 110px 30px 30px 30px;
            }
        }
        .item__img {
            @include stretch;
            background-size: cover;
            background-position: center;
        }
        .item__badge {
            position: absolute;
            right: 0;
            top: 50%;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            color: #fff;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            transform: translate(50%,-50%);
            background: $green;
            z-index: 1;
            font-size: 17px;
            font-weight: 700;
            line-height: 20px;
            @include respond-to($respond-phone) {
                top: 100%;
                transform: translate(50%, 50%);
                right: 50%;
                bottom: 0;
                top: auto;
            }
        }
        .item__title {
            font-size: 22px;
            font-weight: 700;
            color: $blue;
            margin-bottom: 20px;
        }
        .item__text {
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            margin-bottom: 34px;
        }
        .item__date {
            font-size: 17px;
            font-weight: 700;
            line-height: 20px;
            color: $blue;
        }
    }
}

@media (max-width: 1024px) {
    .stock {
        padding-top: 60px;
    }
}