.m-header {
	display: none;
	height: 80px;
	background-color: #f7f7f7;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 6;
	padding: 10px 15px;
	&.open {
		.navbar-cart-info {
			background-color: $green;
			i {
				color: #fff;
			}
		}
	}
	.m-logo {
		display: inline-block;
	}
	.navbar-cart-info {
		right: 60px;
		background-color: transparent;
		transition: all .3s;
		i {
			color: $green;
			transition: all .3s;
		}
	}
	.sandwich-menu {
		display: inline-block;
		float: right;
		margin-top: 22px;
		span {
	    	position: relative;
    	    display: inline-block;
		    vertical-align: middle;
		    width: 30px;
		    height: 2px;
		    background: #000;
	    	&::before,
		    &::after {
		    	content: '';
			    transition: all .2s;
			    display: inline-block;
			    height: 2px;
			    content: "";
			    background: #000;
			    position: absolute;
			    left: 0;
			    width: 100%;
		    }
		    &::before {
			    top: -7px;
		    }
		    &::after {
				bottom: -7px;
	    	}	
	    }
	    &.open {
	    	span {
	    		background:transparent;
	    		&::before {
    			    top: 0;
				    transform: rotate(45deg);
	    		}
	    		&::after {
			    	transform: rotate(-45deg);
   	 				bottom: 0;
	    		}
	    	}
	    }
	}
	@media (max-width:1024px) {
		display: block;
	}
}