<div class="m-header">
	<div class="m-logo">
		<a href="/"><img src="./images/svg/m-logo.svg" alt=""></a>
	</div>
 	<a href="cart.html" class="navbar-cart-info">
        <i class="icon icon-cart"></i>
        <total-cart-count></total-cart-count>
    </a>
	<div class="sandwich-menu">
		<span></span>
	</div>
</div>