.section-contacts {
    display: block;
    position: relative;
    height: 100%;
    .map {
        height: 100%;
    }
    #mobile-map {
        display: none;
    }
    .content-in {
        height: 100%;
        padding:0;
        .content-main {
            height: 100%;
            .map-container {
                height: 100%;
                .map {
                    height: 100%;
                }
            }
        }
    }
    .content-sidebar {
        background-color: #fff;
        height: 100%;
        width: 390px;
        color: #000000;
        font-family: 'Roboto';
        .content-sidebar-title {
            h2 {
                font-size: 30px;
                font-weight: 700;
                line-height: 40px;
                display: block;
                margin-bottom: 20px;
            }
        }
        .content-sidebar-in {
            h3 {
                display: block;
                margin-bottom: 30px;
                font-size: 22px;
                font-weight: 700;
            }
            .contact-item {
                display: block;
                i {
                    display: inline-block;
                    vertical-align: top;
                    margin-right: 10px;
                    color: $blue;
                    font-size: 16px;
                }
                p {
                    display: inline-block;
                    vertical-align: top;
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 20px;
                    width: 90%;
                    span {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media (max-width:740px) {
    .section-contacts {
        height: 100%;
        .mobile-map {
            display: block;
            .map-container {
                display: block !important;
            }
        }
        #m-mapContacts {
            display: block !important;
        }
        .content-in {
            height: auto !important;
            .map-container {
                display: none;
            }
        }
        .map-container {
            position: static;
            left: 0;
            bottom:0;
            width: 100%;
            height: 350px !important;
        }
        .contact-item {
            p {
                width: 80% !important;
            }
        }
        .content-sidebar {
            position: static;
            height: auto !important;
            right: 0;
            width: 100% !important;
            padding:15px 15px;
        }
    }
}