.mceEditor textarea.tinymce{ width: 100%; }
.mceEditor .mceEditor
{
    display:block;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    margin-bottom: 9px;
    padding: 1px;
}

.mceEditor .mceLayout{ border:none !important; }
.mceEditor .mceToolbar{ border:none !important; background:none !important; margin-top:6px !important; }
.mceEditor .mceIcon{ cursor:pointer !important; } 
.mceEditor .mceStatusbar{ background:none !important; border-bottom:none !important; }