<div class="promo-slider">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image: url(images/samples/pic-promo-slider-01.jpg)">
                <div class="promo-slider-text">
                    <h2>Онлайн-бутик самых свежих продуктов</h2>
                    <a href="#" class="btn btn-success">Подробнее</a>
                </div>
            </div>
            <div class="swiper-slide" style="background-image: url(images/samples/pic-promo-slider-01.jpg)">
                <div class="promo-slider-text">
                    <h2>Онлайн-бутик самых свежих продуктов</h2>
                    <a href="#" class="btn btn-success">Подробнее</a>
                </div>
            </div>
            <div class="swiper-slide" style="background-image: url(images/samples/pic-promo-slider-01.jpg)">
                <div class="promo-slider-text">
                    <h2>Онлайн-бутик самых свежих продуктов</h2>
                    <a href="#" class="btn btn-success">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="swiper-controls">
        <div class="swiper-action-btn swiper-prev"><i class="icon icon-arrow-left"></i></div>
        <div class="swiper-action-btn swiper-next"><i class="icon icon-arrow-right"></i></div>
        
        <div class="swiper-pagination"></div>
    </div>

    {% include 'promo-menu/_promo-menu.html' %}
</div>