.promo-slider {
    height: 100%;
    position: relative;
    .promo-slider-text {
        font-family: "Roboto";
        color: #fff;
        position: absolute;
        left: 70px;
        top: 133px;
        z-index: 3;
        max-width: 480px;
        h2 {
            font-size: 50px;
            line-height: 60px;
            font-weight: 400;
            margin-bottom: 70px;
        }
        .btn {
            padding: 15px 40px;
            font-size: 15px;
            text-transform: uppercase;
        }
    }
    .swiper-container {
        height: 100%;
    }
    .swiper-slide {
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        &::before {
            content: '';
            @include stretch();
            z-index: 2;
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.6) 45%, rgba(255, 255, 255, 0) 100%);
        }
    }
    .swiper-controls {
        position: absolute;
        z-index: 3;
        margin: 0 0 60px 70px;
        bottom: 0;
        left: 0;
        right: 0;
        .swiper-action-btn {
            border-radius: 50%;
            cursor: pointer;
            width: 50px;
            height: 50px;
            background: #fff;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin-right: 25px;
            transition: all .2s ease-in-out;
            &:hover {
                background: $green;
                color: #fff;
            }
        }
        .swiper-pagination {
            position: absolute;
            right: $promo-menu-width + 60px;
            top: 50%;
            transform: translateY(-50%);
            .swiper-pagination-bullet {
                background: #fff;
                width: 10px;
                height: 10px;
                opacity: .5;
                &:not(:last-child) {
                    margin-right: 40px;
                }
                &-active {
                    opacity: 1;
                }
            }
        }
    }
}

body[data-template="mainpage"] {
    .promo-slider {
        .swiper-container {
            margin-right: 320px;
        }
    }
}


@media (max-width:740px) {
    .promo-slider {
        width: 100%;
        height: auto;
        // padding-bottom: ratio(480px,640px);
        .swiper-container {
            height: 300px;
            margin-right: 0 !important;
        }
        .swiper-controls {
            margin:0 !important;
            bottom: auto;
            .swiper-action-btn {
                display: none;
            }
            .swiper-pagination {
                left: 15px;
                right: auto;
                top: auto;
                transform:none;
                bottom: 15px;
            }
        }
        .promo-slider-text {
            left: 0;
            top: 0;
            padding: 15px 0 0 15px;
            h2 {
                font-size: 28px;
                font-weight: 700;
                line-height: 30px;
            }
            .btn-success {
                display: none;
            }
        }
    }
}