<!-- .sidebar -->
<div class="sidebar">
  <div class="sidebar-wrap">
    <a href="#" class="logo">
      <img src="images/logo.svg" alt="">
    </a>
    {% include 'nav-main/_nav-main.html' %}
  </div>
  {% include "footer/_footer.html" %}
</div><!-- end .sidebar -->