.sidebar {
	position: relative;
	z-index: 12;
	text-align: center;
	width: $sidebar-width;
	height: 100%;
	background: #fff;
	float: left;
	box-shadow: 1px 0 4px rgba(0, 0, 0, 0.15);
	.logo {
		display: inline-block;
		margin-bottom: 25px;
		margin-top: 30px;
	}
	.sidebar-wrap {
		min-height: 100%;
		margin-bottom: -#{$footer-height};
		&::after {
			content: "";
			display: block;
			height: $footer-height;
		}
	}
}


@media (max-width:740px) {
	.sidebar {
		width: 100%;
		position: fixed;
		left: 0;
		top:80px;
		height: calc(100vh - 80px);
		transform: translate3d(-100%,0,0);
		transition: all .4s;
		box-shadow: none;
		overflow-y: scroll;
  		-webkit-overflow-scrolling: touch;
		.sidebar-wrap {
			&::after {
				display: none !important;
			}
		}
		&.open {
			transform: translate3d(0%,0,0);
		}
		.nav-main {
			text-align: left;
			padding: 20px 15px;
			.nav-item {
				margin-bottom: 15px !important;
				&.opened {
					a {
						&::before {
							display: none;
						}
					}
				}
				a {
					i {
						display: none;
					}
				}
				&[data-alias="katalog"] {
					margin-bottom: 0;
					a {
						color: $blue;
					}
					.dropdown-menu {
						display: block;
						position: static;
						padding: 0 0 0 10px;
						margin-top: 15px;
						background-color: #fff;
						.dropdown-item {
							span {
								color: #000;
								font-weight: 400;
							}
							&:last-child {
								margin-bottom: 0;
							}
							i {
								display: none;
							}
							.sub-dropdown-menu {
								display: none !important;
							}
						}
					}
				}
			}
		}
		.logo {
			display: none;
		}
		.footer {
			display: none;
		}
	}
}