.promo-menu {
    background: #fff;
    position: absolute;
    z-index: 5;
    height: 100%;
    right: 0;
    top: 0;
    width: $promo-menu-width;
    ul {
        height: 100%;
        .menu-item {
            color: #000;
            width: 100%;
            display: inline-block;
            height: 25%;
            transition: all .3s ease-in-out;
            padding: 30px;
            &:not(:last-child) {
                border-bottom: 1px solid #e2e2e2;
            }
            &:hover {
                background: $blue;
                color: #fff;
                .pic {
                    opacity: 0;
                    &:last-child {
                        opacity: 1 !important;
                    }
                }
                .item-get {
                    color: #fff;
                    &::before {
                        transition: height .2s ease-in-out;
                        height: 7px;
                    }
                }
            }
            a {
                display: inline-block;
                height: 100%;
                width: 100%;
                position: relative;
            }
        }
        .item-head {
            position: relative;
            min-height: 25px;
        }
        .item-pic {
            position: absolute;
            right: 0;
            top: 0;
            .pic {
                position: absolute;
                right: 0;
                top: 0;
                transform: translateY(-30%);
                transition: opacity .3s ease-in-out;
                &:last-child {
                    opacity: 0;
                    z-index: 2;
                }
            }
        }
        .item-title {
            font-size: 22px;
            font-weight: 500;
        }
        .item-get {
            position: absolute;
            z-index: 1;
            bottom: 0;
            left: 0;
            color: #9b9b9b;
            &::before {
                content: "";
                position: absolute;
                z-index: -1;
                left: 0;
                width: 100%;
                bottom: 0px;
                height: 0px;
                background: $green;
            }
        }
        a {
            color: inherit;
        }
    }
}

@media (max-width:740px) {
    .promo-menu {
        position: static !important;
        width: 100%;
       .menu-item {
            padding:20px 15px !important;
            display: block !important;
            height: auto !important;
            a {
            }
            .item-head {
                margin-bottom: 35px !important;
                display: block;
                .item-pic {
                    top: 12px;
                }
            }
            .item-get {
                position: static;
            }
       } 
    }
}