<div class="promo-menu">
    <ul class="list-unstyled">
        <li class="menu-item">
            <a href="#">
                <div class="item-head">
                    <span class="item-title">Рыба</span>
                    <div class="item-pic">
                        <img src="images/samples/pic-menu-fish.svg" alt="" class="pic">
                        <img src="images/samples/pic-menu-fish-hover.svg" alt="" class="pic">
                    </div>
                </div>
                <span class="item-get">Перейти в каталог</span>
            </a>
        </li>
        <li class="menu-item">
            <a href="#">
                <div class="item-head">
                    <span class="item-title">Морепродукты</span>
                    <div class="item-pic">
                        <img src="images/samples/pic-menu-shrimp.svg" alt="" class="pic">
                        <img src="images/samples/pic-menu-shrimp-hover.svg" alt="" class="pic">
                    </div>
                </div>
                <span class="item-get">Перейти в каталог</span>
            </a>
        </li>
        <li class="menu-item">
            <a href="#">
                <div class="item-head">
                    <span class="item-title">Мясо</span>
                    <div class="item-pic">
                        <img src="images/samples/pic-menu-meat.svg" alt="" class="pic">
                        <img src="images/samples/pic-menu-meat-hover.svg" alt="" class="pic">
                    </div>
                </div>
                <span class="item-get">Перейти в каталог</span>
            </a>
        </li>
        <li class="menu-item">
            <a href="#">
                <div class="item-head">
                    <span class="item-title">Овощи и фрукты</span>
                    <div class="item-pic">
                        <img src="images/samples/pic-menu-vegetable.svg" alt="" class="pic">
                        <img src="images/samples/pic-menu-vegetable-hover.svg" alt="" class="pic">
                    </div>
                </div>
                <span class="item-get">Перейти в каталог</span>
            </a>
        </li>
    </ul>
</div>