<div class="m-footer">
	<div class="m-footer-contacts">
	    <i class="icon icon-phone"></i>
	    <div class="info-adress">
	    	<b class="contacts-number">
		      + 7 (727) 317 01 17
		    </b>
		    <span>Пр. Суюнбая, 211, Алматы, Казахстан</span>
	    </div>
  	</div>
  	<ul class="social-icons">
	    {% set items = [
	      {
	        icon: 'facebook'
	      },
	      {
	        icon: 'instagram'
	      }
	    ] %}
	    {% for item in items %}
	      {% include 'social-icons/_social-icons.html' %}
	    {% endfor %}
  	</ul>
  	<p class="m-footer-made-in">
	    Сделано в <a href="#">amphibia</a>
  	</p>
  	<p class="m-footer-copyright">© 2017, OceanFresh. Все права защищены.</p>
</div>