.m-footer {
	display: none;
	padding:20px 15px;
	background-color: #f7f7f7;
	height: 190px;
	.m-footer-contacts {
		line-height: 40px;
		margin-bottom: 35px;
		.icon {
	      	display: inline-block;
	      	vertical-align: middle;
	      	text-align: center;
	      	border-radius: 50%;
	      	width: 40px;
	      	height: 40px;
	      	line-height: 40px;
	      	color: $blue;
	      	border: 1px solid #e1e1e1;
			margin-right: 5px;	      	
	    }
	    .info-adress {
	    	display: inline-block;
	    	vertical-align: middle;
	    	padding-top: 2px;
	    }
		b {
			display: block;
			line-height: 1;
			margin-bottom: 2px;
		}
		span {
			display: block;
			line-height: 1;
		}
	}
	.social-icons {
		display: inline-block;
		font-size: 20px;
		.social-item {
			margin-right: 45px;
		}
	}
	.m-footer-made-in {
		display: inline-block;
		float: right;
		p {
			color: #000000;
			font-family: "Open Sans";
			font-size: 13px;
			font-weight: 400;
			letter-spacing: -0.5px;
		}
		a {
			color: #000000;
			border-bottom: 1px solid #00519b;
		}
	}
	.m-footer-copyright {
		display: block;
		color: #9b9b9b;
		font-family: "Open Sans";
		font-size: 13px;
		font-weight: 400;
		letter-spacing: -0.5px;
		margin-top: 25px;
	}
	@media (max-width:1024px) {
		display: block;
	}
}