.top-banner {
	height: auto;

	background-color: rgba(0, 0, 0, 0.5);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	padding-bottom: ratio(50px,1024px);
	padding-top: 50px;
	padding-left: 30px;
	padding-right: 30px;

	position: relative;
	&::before {
		content:'';
		@include stretch();
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 1;
	}

	.top-banner-title {
		display: block;
		margin-top: 100px;
		margin-bottom: 30px;
		position: relative;
		z-index: 2;
		b {
			color: #ffffff;
			font-family: 'Roboto';
			font-size: 30px;
			font-weight: 700;
			line-height: 1;
		}
	}
	.top-banner-info {
		display: block;
		line-height: 1;
		position: relative;
		z-index: 2;
		.info-item {
			display: inline-block;
			vertical-align: middle;
			height: 18px;
			margin-right: 20px;
			.info-icon {
				display: inline-block;
				vertical-align: middle;
				color: #fff;
				font-size: 18px;
				line-height: 18px;
				margin-right: 10px;
			}
			small {
				display: inline-block;
				vertical-align: middle;
				color: #fff;
				font-size: 14px;
				font-weight: normal;
				line-height: 18px;
				font-family: 'Roboto';
			}
		}
	}
}

@media (max-width: 740px) {
	.top-banner {
		height: 250px;
		padding: 15px 15px;
		.top-banner-title {
			display: block;
			margin-top: 12px !important;
			b {
				font-size: 25px;
			}
		}
		.top-banner-info {
			.info-item {
				display: block;
				margin-bottom: 15px;
				.info-icon {
					width: 30px;
				}
			}
		}
	}
}