<div class="top-banner" style="background-image: url(./images/samples/top-banner-pic.jpg)">
	<div class="top-banner-title">
		<b>Сибас, запеченный с лимоном и травами в духовке</b>
	</div>
	<div class="top-banner-info">
		<div class="info-item">
			<div class="info-icon">
				<i class="icon icon-peoples"></i>
			</div>
			<small>На 2 персоны</small>
		</div>
		<div class="info-item">
			<div class="info-icon">
				<i class="icon icon-desc"></i>
			</div>
			<small>Подготовка: 30 минут</small>
		</div>
		<div class="info-item">
			<div class="info-icon">
				<i class="icon icon-timer"></i>
			</div>
			<small>Приготовление: 40 минут</small>
		</div>
	</div>
</div>