.voteFormElement{
    margin: 0 0 10px;
}
.voteDeleted {
    display: block;
    max-width: 484px;
    padding: 4px 35px 4px 10px;
}

.votePlaceholder {
    max-width: 530px;
    height: 34px;
    padding: 0;
    margin: 0 0 14px;
    opacity: 0.5;
}

.move {
    padding: 2px;
    cursor: move;
}