<div class="about-map-section">
    <div class="about-section-content">
            <h2>Наши продукты</h2>
            <p>
                Наша главная цель — выбрать для вас самые свежие и вкусные продукты со всего мира.
            </p>
    </div>
    <div class="m-about-map">
        <div class="aboute-map-item">   
            <b>Россия</b>
            <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure id nostrum molestiae voluptas nemo esse autem consequatur eveniet, magni nam, inventore quae repellat ad. Dolores molestiae provident asperiores corporis deserunt.</span>
            <span>Similique odio, perspiciatis eum impedit harum voluptatum est possimus ipsa aliquam iure dolorum enim magni voluptates cumque sequi id exercitationem. Deleniti vel temporibus, quo quisquam esse ratione, beatae laboriosam nihil.</span>
            <span>Veniam ab nihil incidunt. Reprehenderit aperiam voluptatibus, nam ullam adipisci sint, delectus culpa rerum similique earum architecto aut facilis deleniti, modi rem consequatur velit voluptas alias natus minus dignissimos quos!</span>
            <span>Dolorem voluptatem odit fugiat nemo aliquam architecto aperiam, fugit provident aliquid minima a adipisci atque magni. Aut explicabo quae, doloremque eveniet laboriosam nisi ipsum dolore ullam blanditiis soluta quaerat. Temporibus?</span>
            <span>Adipisci dicta repellat dignissimos, soluta, blanditiis similique temporibus facere vitae quaerat. Deleniti quasi non recusandae, hic officia, voluptas laudantium quaerat quae doloribus adipisci ad aspernatur, expedita reprehenderit doloremque sit maiores?</span></p>
        </div>
        <div class="aboute-map-item">   
            <b>Сша</b>
            <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure id nostrum molestiae voluptas nemo esse autem consequatur eveniet, magni nam, inventore quae repellat ad. Dolores molestiae provident asperiores corporis deserunt.</span>
            <span>Similique odio, perspiciatis eum impedit harum voluptatum est possimus ipsa aliquam iure dolorum enim magni voluptates cumque sequi id exercitationem. Deleniti vel temporibus, quo quisquam esse ratione, beatae laboriosam nihil.</span>
            <span>Veniam ab nihil incidunt. Reprehenderit aperiam voluptatibus, nam ullam adipisci sint, delectus culpa rerum similique earum architecto aut facilis deleniti, modi rem consequatur velit voluptas alias natus minus dignissimos quos!</span>
            <span>Dolorem voluptatem odit fugiat nemo aliquam architecto aperiam, fugit provident aliquid minima a adipisci atque magni. Aut explicabo quae, doloremque eveniet laboriosam nisi ipsum dolore ullam blanditiis soluta quaerat. Temporibus?</span>
            <span>Adipisci dicta repellat dignissimos, soluta, blanditiis similique temporibus facere vitae quaerat. Deleniti quasi non recusandae, hic officia, voluptas laudantium quaerat quae doloribus adipisci ad aspernatur, expedita reprehenderit doloremque sit maiores?</span></p>
        </div>
    </div>
    <div id="about-map" style="width: 100%;height:650px;" data-region="'no', 'de', 'au', 'in', 'fr', 'it', 'tr', 'us', 'nl'">
            <div class="popover-about-map popover-about__no">
                <div class="pic-popover"><img src="./images/samples/pic-popover-01.png"></div>
                <b>Норвегия</b>
                <p>Морепродукты, рыба, сыры</p>
                <a href="#" class="country-info-modal__link">ПОДРОБНЕЕ</a>
            </div>
            <div class="popover-about-map popover-about__us">
                <div class="pic-popover"><img src="./images/samples/pic-popover-01.png"></div>
                <b>Сша</b>
                <p>Морепродукты, рыба, сыры</p>
                <a href="#" class="country-info-modal__link">ПОДРОБНЕЕ</a>
            </div>
            <div class="popover-about-map popover-about__de">
                <div class="pic-popover"><img src="./images/samples/pic-popover-01.png"></div>
                <b>Германия</b>
                <p>Морепродукты, рыба, сыры</p>
                <a href="#" class="country-info-modal__link">ПОДРОБНЕЕ</a>
            </div>
            <div class="popover-about-map popover-about__au">
                <div class="pic-popover"><img src="./images/samples/pic-popover-01.png"></div>
                <b>Австралия</b>
                <p>Морепродукты, рыба, сыры</p>
                <a href="#" class="country-info-modal__link">ПОДРОБНЕЕ</a>
            </div>
    </div>
    <div class="helper-text helper-icon">
        <img src="./images/svg/region-icon.svg" alt="">
        <p>
            Наведите курсор на выделенные фрагменты карты, чтобы узнать больше о нашем ассортименте.
        </p>
    </div>
    <div class="about-map-modal">
        <span class="hide-modal"><i class="icon icon-close"></i></span>
        <div class="scroll-block">
            <div class="content-in fixed-width content-centered">
                <div class="content-section">
                    <h1>Продукты из франции</h1>
                    <img src="./images/samples/pic-about-01.jpg" class="img-fluid" alt="">
                    <h3>
                        Устрицы Жилардо
                    </h3>
                    <p>
                        Выращиваются эти устрицы в провинции Бретань, что располагается на территории Франции. Растут они в глубинах морей несколько лет, а потом попадают в специальные садки – клеры, что являются, по сути, специально созданными «природными» бассейнами. Там устрицы также находятся какое-то количество времени до окончания периода своего созревания.
                    </p>
                    <p>
                        Благодаря такому способу выращивания их сладковатый вкус и запах становится более йодированным и морским, в нем появляется легкая ореховая нотка. А так же, как утверждают ценители тонкого вкуса, «арбузное» послевкусие.  
                    </p>
                </div>
                <div class="content-section">
                    <img src="./images/samples/pic-about-02.jpg" class="img-fluid" alt="">
                    <h3>
                        Французкие сыры
                    </h3>
                    <p>
                        Выращиваются эти устрицы в провинции Бретань, что располагается на территории Франции. Растут они в глубинах морей несколько лет, а потом попадают в специальные садки – клеры, что являются, по сути, специально созданными «природными» бассейнами. Там устрицы также находятся какое-то количество времени до окончания периода своего созревания.
                    </p>
                    <p>
                        Благодаря такому способу выращивания их сладковатый вкус и запах становится более йодированным и морским, в нем появляется легкая ореховая нотка. А так же, как утверждают ценители тонкого вкуса, «арбузное» послевкусие.  
                    </p>
                </div>  
            </div>
        </div>
    </div>
</div>