.delivery-page {
    .table-delivery {
        margin-bottom: 30px;
        table {
            width: 100%;
            text-align: left;
            thead {
                background-color: #00519b;
                color: #fff;
                border-right: 2px solid #fff;
                border-left: 2px solid #fff;
            }
            th {
                padding: 8px 20px;
            }
            td {
                padding: 8px 20px;
                border: 2px solid #fff;
                font-size: 13px;
                font-weight: 400;
                letter-spacing: -0.5px;
            }
            .not-bordered {
                border: 0;
                border-top: 2px solid #fff;
            }
            .border-right {
                border-right: 2px solid #fff;
            }
        }
        .text--white {
            color: #fff;
        }
        .bg-cyan {
            background-color: #b4dbff;
        }
        .bg-red {
            background-color: #d0021b;
        }
        .bg-green {
            background-color: #77a942;
        }
        .bg-yellow {
            background-color: #f5a623;
        }
        .bg-blue {
            background-color: #4a90e2;
        }
    }

    .delivery-list {
        &-in {
            display: flex;
            flex-wrap: wrap;
        }
        .delivery-item {
            width: 33.333%;
            padding-right: 50px;
            margin-bottom: 20px;
        }
        .item-title {
            color: $blue;
            font-size: 50px;
            font-weight: 500;
            line-height: 60px;
            margin-bottom: 10px;
        }
        .item-meta {
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            font-family: "Roboto";
        }
    }
}