$product-offset: 20px;
.catalog {
    .products {
        display: flex;
        flex-flow: row wrap;
        padding-right: $product-offset;
        padding-top: $product-offset;
        @include clearfix;
        .product {
            font-family: 'Roboto';
            position: relative;
            width: calc(33.333% - #{$product-offset});
            margin: 0 0 $product-offset $product-offset;
            border: 1px solid #f7f7f7;
            padding-bottom: $product-offset * 2;
            background-color: #fff;
            transition: all .2s ease-in-out;
            overflow: hidden;
            .product-old-price {
                color: #a4a4a4;
                font-size: 17px;
                font-weight: 500;
                line-height: 20px;
                position: absolute;
                bottom: 100%;
                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 50%;
                    background: #c70009;
                    height: 1px;
                    width: 100%;
                }
            }
            .badges-list {
                position: absolute;
                top: 10px;
                right: 10px;
                z-index: 1;
                width: 50px;
            }
            .product-badge {
                text-align: center;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                font-size: 11px;
                line-height: 12px;
                font-weight: 400;
                &:not(:last-child) {
                    margin-bottom: 10px;
                }
                &.badge-green {
                    background: $green;
                }
                &.badge-blue {
                    background: $blue;
                }
                &.badge-red {
                    background: #c70009;
                }
                &.badge-orange {
                    background: #c76e00;
                }
            }
            &:hover {
                background: $blue;
                .product-title, .product-price, .product-info {
                    color: #fff;
                }
            }
        }
        .product-image {
            padding-bottom: ratio(200px, 350px);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .product-title {
            font-weight: 500;
            margin: $product-offset $product-offset 40px $product-offset;
            font-size: 17px;
            line-height: 20px;
            a {
                color: inherit;
            }
        }
        .product-info-wrapper {
            position: absolute;
            bottom: $product-offset;
            left: 0;
            right: 0;
            height: 20px;
            line-height: 25px;
            margin: 0 $product-offset;
            @include clearfix;
            &.controls-hide {
                .product-controls {
                    transition: 1s ease-in;
                    right: -100%;
                    & > * {
                        @for $i from 1 through 3 {
                            &:nth-child(#{$i}) {
                                transition: .15s ease-in;
                                transition-delay: #{(3 - $i) / 10}s;
                                transform: translateX(300%);
                            }
                        }
                        
                    }
                }
            }
            &.controls-show {
                .product-controls {
                    transition: .2s ease-in;
                    right: -#{$product-offset};
                    & > * {
                        @for $i from 1 through 3 {
                            &:nth-child(#{$i}) {
                                transition: .25s ease-in;
                                transition-delay: #{(3 - $i) / 10}s;
                                transform: translateX(0);
                            }
                        }
                        
                    }
                }
            }
        }
        .product-info {
            font-family: "Open Sans";
        }
        .product-price {
            font-size: 22px;
            color: $blue;
            margin-right: 30px;
            float: left;
        }
        .product-add-btn {
            font-size: 25px;
            color: $green;
            position: absolute;
            right: 0;
        }
        .product-controls {
            position: absolute;
            right: -#{$product-offset};
            bottom: -#{$product-offset};
            span, button {
                width: 60px;
                height: 60px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                background: #f7f7f7;
                font-size: 17px;
                float: left;
            }
            .product-qty {
                background: $green;
                color: #fff;
            }
        }
        .sidebar-products {
            position: absolute;
            right: 0;
            top: 0;
            height: calc(100vh - #{$catalog-navbar-height});
            background: #fff;
            padding: 90px 30px 30px;
            border-top: 1px solid #f7f7f7;
            z-index: 3;
            width: 390px;
            h2 {
                font-family: "Roboto";
                font-size: 30px;
                line-height: 40px;
                margin-bottom: 20px;
            }
            p {
                color: #4a4a4a;
                font-family: "Open Sans";
                line-height: 20px;
                margin-bottom: 25px;
            }
            .btn {
                font-family: 'Roboto';
                padding: 20px 30px;
                text-transform: uppercase;
                font-size: 15px;
                letter-spacing: 1px;
            }
            .sidebar-cutting-block {
                @include list-unstyled;
                margin-bottom: 30px;
                border: 2px solid #e7e7e3;
            }
            .product-name {
                font-family: 'Roboto';
                position: absolute;
                top: 25px;
                left: 30px; 
                font-size: 17px;
                line-height: 20px;
                color: #9b9b9b;
            }
            .btn-sidebar-hide {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                font-size: 22px;
                position: absolute;
                right: 0;
                top: 0;
                width: 60px;
                height: 60px;
                background-color: #f7f7f7;
            }
        }
    }
}

@media (max-width:740px) {
    .catalog {
        .products {
            padding: 0 15px !important;
            .product {
                width: 100% !important;
                margin: 0 0 20px 0 !important;
            }
        }
    }
}