

.catalog-navbar {
    min-height: $catalog-navbar-height;
    position: relative;
    box-shadow: inset 9px 0px 4px -7px rgba(0, 0, 0, 0.15);
    padding: 30px $catalog-navbar-height 30px 30px;
    width: 100%;
    background: #EFF4F8;
    z-index: 3;
    &.fixed {
        position: fixed;
        right: 0;
        top: 0;
        width: auto;
        left: $sidebar-width;
    }
}
.catalog-breadcrumbs {
    @include list-unstyled;
    display: inline-block;
    margin: 0 60px 0 0;
    li {
        color: #898989;
        display: inline-block;
        &:not(:last-child) {
            margin-right: 5px;
            &::after {
                content: '/';
                margin-left: 5px;
            }
        }
        a {
            color: inherit;
            &:hover {
                text-decoration: underline;
            }
        }
        &.active {
            color: $green;
        }
    }
}
.navbar-cart-info {
    position: absolute;
    right: 0;
    top: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: $catalog-navbar-height;
    width: $catalog-navbar-height;
    background: $green;
    font-size: 30px;
    color: #fff;
    &:hover {
        color: #fff;
    }
    #{$template-product} & {
        background: #fff;
        color: $green;
    }
    .total-cart-count {
        #{$template-product} & {
            background: #d7d7d7;
            color: #000;
        }
        font-family: 'Open Sans';
        display: inline-block;
        position: absolute;
        z-index: 1;
        background: $blue;
        color: #fff;
        padding: 2px 6px;
        font-size: 13px;
        top: 30px;
        left: 30px;
        border-radius: 50%;
        margin-top: -10px;
        margin-left: 10px;
    }
}
.catalog-menu {
    @include list-unstyled;
    display: inline-block;
    font-family: 'Roboto';
    margin: 0;
    .badge {
        background: $green;
        color: #fff;
        border-radius: 100px;
        display: inline-block;
        padding: 2px 7px;
        margin-left: 10px;
    }
    .catalog-menu-item {
        display: inline-block;
        margin-top: 5px;
        &:not(:last-child) {
            margin-right: 15px;
        }
        &.active {
            a {
                color: $green;
            }
        }
        a {
            color: #000;
            font-weight: 500;
        }
    }
}

@media (max-width:740px) {
    .catalog-navbar {
        box-shadow: none;
        position: static !important;
    }
    .catalog {
        .navbar-cart-info {
            display: none !important;
        }
    }
    .catalog-navbar {
        .navbar-cart-info {
            display: none !important;
        }
    }
}