<div class="catalog-navbar">
    {% if page != 'cart-send' %}
    <ul class="catalog-breadcrumbs">
        <li><a href="#">Каталог</a></li>
        <li class="active">Рыба</li>
    </ul>
    {% endif %}
    {% if page == 'catalog' %}
    <ul class="catalog-menu">
        <li class="catalog-menu-item active"><a href="#">Все</a><span class="badge">341</span></li>
        <li class="catalog-menu-item"><a href="#">Охлажденная</a><span class="badge">12</span></li>
        <li class="catalog-menu-item"><a href="#">Замороженная</a><span class="badge">4</span></li>
        <li class="catalog-menu-item"><a href="#">Филе из рыбы</a><span class="badge">42</span></li>
        <li class="catalog-menu-item"><a href="#">Копченая</a><span class="badge">31</span></li>
    </ul>
    {% endif %}
    <a href="cart.html" class="navbar-cart-info">
        <i class="icon icon-cart"></i>
        <total-cart-count></total-cart-count>
    </a>
</div>