$radio-button-size: 20px;

.product-inside {
    height: 100%;
    @include clearfix;
    .product-image {
        height: 100%;
        width: 50%;
        background-size: cover; 
        background-position: center center;
        float: left;
        position: relative;
    }
    .product-old-price {
        color: #a4a4a4;
        display: inline-block;
        font-size: 22px;
        font-weight: 500;
        line-height: 20px;
        margin-right: 30px;
        position: relative;
        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            background: $green;
            height: 1px;
            width: 100%;
        }
    }
    .badges-list {
        position: absolute;
        top: 100px;
        right: 20px;
        z-index: 1;
        width: 70px;
    }
    .product-badge {
        text-align: center;
        border-radius: 50%;
        width: 70px;
        height: 70px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 14px;
        line-height: 16px;
        font-weight: 400;
        &:not(:last-child) {
            margin-bottom: 10px;
        }
        &.badge-green {
            background: $green;
        }
        &.badge-blue {
            background: $blue;
        }
        &.badge-red {
            background: #c70009;
        }
        &.badge-orange {
            background: #c76e00;
        }
    }
    .m-product-image {
        display: none;
    }
    .product-content {
        height: 100%;
        width: 50%;
        background-color: #f7f7f7;
        float: left;
        padding: 30px;
        padding-top: 100px;
        overflow: auto;
        .btn.btn-success {
            padding: 20px 40px;
            text-transform: uppercase;
            font-size: 15px;
            font-family: 'Roboto';
        }
        hr {
            border-style: solid;
            border-width: 0;
            border-bottom-width: 1px;
            border-color: #e1e1e1;
            margin: 40px 0;
        }
        .contorls-group {
            @include clearfix;
            margin: 40px 0;
        }
        .item-controls {
            @include clearfix;
            margin-right: 20px;
            float: left;
            &.disabled {
                opacity: 0.6;
                * {
                    cursor: not-allowed !important;
                }
            }
            * {
                width: 56px;
                height: 56px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                float: left;
            }
            button {
                background-color: #fff;
                font-size: 18px;
            }
            span {
                background: $brand-secondary;
                color: #fff;
            }
        }
    }
    .product-title {
        font-size: 25px;
        line-height: 35px;
        font-family: 'Roboto';
        font-weight: 500;
        margin-bottom: 25px;
    }
    .product-price {
        font-size: 25px;
        letter-spacing: -1px;
        line-height: 35px;
        font-weight: 500;
        display: inline-block;
        font-family: 'Roboto';
        float: left;
        color: $blue;
        margin-right: 120px;
    }
    .product-refinement {
        font-size: 14px;
        line-height: 35px;
        @include clearfix;
        margin-bottom: 25px;
    }
    .product-text {
        p {
            font-size: 14px;
            line-height: 20px;
        }
    }
    .product-recipe-link {
        max-width: 250px;
        margin: 25px 0;
        padding: 10px 0 10px 60px;
        background: url(../images/recipe-icon.svg) no-repeat left center;
        a {
            color: $blue;
            letter-spacing: -0.2px;
            font-size: 15px;
            line-height: 20px;
            font-weight: 500;
            font-family: 'Roboto';
        }
    }
    .sidebar-product-treatment {
        position: absolute;
        right: 0;
        top: $catalog-navbar-height;
        bottom: 0;
        background: #fff;
        padding: 90px 30px 30px;
        border-top: 1px solid #f7f7f7;
        z-index: 3;
        width: 390px;
        h2 {
            font-family: "Roboto";
            font-size: 30px;
            line-height: 40px;
            margin-bottom: 20px;
        }
        p {
            color: #4a4a4a;
            font-family: "Open Sans";
            line-height: 20px;
            margin-bottom: 25px;
        }
        .btn {
            font-family: 'Roboto';
            padding: 20px 30px;
            text-transform: uppercase;
            font-size: 15px;
            letter-spacing: 1px;
        }
        .sidebar-cutting-block {
            @include list-unstyled;
            margin-bottom: 30px;
            border: 2px solid #e7e7e3;
        }
        .product-name {
            font-family: 'Roboto';
            position: absolute;
            top: 25px;
            left: 30px; 
            font-size: 17px;
            line-height: 20px;
            color: #9b9b9b;
        }
        .btn-sidebar-hide {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            font-size: 22px;
            position: absolute;
            right: 0;
            top: 0;
            width: 60px;
            height: 60px;
            background-color: #f7f7f7;
        }
        .sidebar-cutting-item {
            &:not(:last-child) {
                border-bottom: 2px solid #e7e7e7;
            }
            label {
                position: relative;
                width: 100%;
                margin: 0;
                cursor: pointer;
                height: 50px;
                line-height: 50px;
                padding-left: 50px;
                &::after,
                &::before {
                    content: "";
                    border-radius: 50%;
                    left: 15px;
                    top: 50%;
                    transform: translateY(-50%);
                    position: absolute;
                }
                &::before {
                    width: $radio-button-size;
                    height: $radio-button-size;
                    border: 2px solid #9b9b9b;
                    border-radius: 50%;
                    position: absolute;
                }
                &::after {
                    display: none;
                    width: 10px;
                    height: 10px;
                    left: 15px + $radio-button-size / 4;
                    background: $green;
                }
            }
            input[type="radio"] {
                position: absolute;
                left: -9999px;
                &:checked ~ label {
                    background: $blue;
                    color: #fff;
                    &::before {
                        border-color: $green;
                    }
                    &::after {
                        display: inline-block;
                    }
                }
            }
        }
    }
    .recommended_products {
        h2 {
            font-size: 22px;
            font-weight: 700;
            margin-bottom: 25px;
        }
    }
    .recommended_products_carousel {
        position: relative;
        .swiper-slide {
            height: 100%;
            a {
                border: 1px solid $green;
                display: block;
                height: 100%;
                padding: 10px 20px;
                color: #000;
                font-size: 17px;
                font-weight: 600;
                line-height: 20px;
                &:hover {
                    background-color: $green;
                    color: #fff;
                }
            }
        }
        .carousel-controls {
            &.top-right {
                position: absolute;
                right: 0;
                top: -60px;
            }
        }
        .recommended_products-button {
            width: 50px;
            height: 50px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            background: #fff;
            border-radius: 50%;
            font-size: 16px;
            &:not(:last-child) {
                margin-right: 20px;
            }
            &:hover {
                background: $green;
                color: #fff;
                cursor: pointer;
            }
        }
    }
}
.sidebar-overlay {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    bottom: 0;
    background: rgba(0,0,0,0.7);
}

.fade-enter-active, .fade-leave-active {
  transition: all .3s ease;
}

.fade-enter, .fade-leave-to{
  opacity: 0;
}

.slide-enter-active, .slide-leave-active {
  transition: all .3s ease;
}

.slide-enter, .slide-leave-to{
  transform: translateX(100%);  
}



@media (max-width: 740px) {
    .catalog {
        .product-inside {
            .product-image {
                display: none;
            }
            .m-product-image {
                padding-bottom: ratio(200px, 350px);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                display: block;
            }
            .product-content {
                width: 100% !important;
                padding: 0 15px !important;
            }
            .recommended_products-button {
                display: none;
            }
            .controls-group {
                .item-controls {
                    width: 50%;
                    margin: 0;
                }
                .btn {
                    width: 50%;
                }
            }
            
        }
    }
}