.map-oysters {
    height: 100%;
    background: #f7f7f7;
    padding: 40px 30px;
    font-family: "Roboto";
    .section-title {
        margin-bottom: 50px;
        h2 {
            font-size: 30px;
            font-weight: 700;
            line-height: 40px;
            margin-bottom: 10px;
        }
        p {
            font-size: 17px;
            font-weight: 400;
            line-height: 20px;        
        }
    }
    .oysters-map {
        height: 500px;
        width: 100%;
    }
    .popover-oysters-map {
        width: 260px;
        margin-left: -130px;
        padding: 10px;
        box-shadow: 0 7px 11px rgba(93, 93, 93, 0.5);
        background-color: #f7f7f7;
        position: fixed;
        z-index: 5;
        display: none;
        .pic-popover {
            margin-bottom: 10px;
        }
        
        b {
            margin-bottom: 10px;
            display: block;
            font-family: "Roboto";
            font-size: 17px;
            font-weight: 700;
            line-height: 20px;
        }
        .country-info-modal__link {
            display: inline-block;
            text-transform: uppercase;
            color: $brand-secondary;
            margin-bottom: 10px;
        }
    }
    .oysters-map-modal {
        position: fixed;
        top: 0;
        left: 256px;
        bottom: 0;
        right: 0;
        background: #f7f7f7;
        z-index: 10;
        padding-top: 0;
        display: none;
        &.loading {
            &::before {
                @include stretch;
                content: "";
                background-color: #f7f7f7;
                background-image: url(../images/loader.svg);
                background-repeat: no-repeat;
                background-size: 60px;
                background-position: center;
                z-index: 10;
            }
        }
        .hide-modal {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            cursor: pointer;
            position: fixed;
            right: 0;
            top: 0;
            width: 60px;
            height: 60px;
            background-color: #f7f7f7;
        }
        .scroll-block {
            height: 100%;
            overflow: auto;
        }
    
        .mCSB_dragger {
            height: 285px !important;
            width: 8px !important;
            border-radius: 0 !important;
            .mCSB_dragger_bar {
                background-color: $green !important;
                width: 8px !important;
                border-radius: 0 !important;
            }
        }
    
        .mCSB_draggerRail {
            width: 8px !important;
            border-radius: 0 !important;
        }
    
        .mCSB_scrollTools {
            top: 70px !important;
            bottom: 70px !important;
            right: 25px !important;
            width: 8px !important;
        }
        
    }
}