
<a href="{{recipe.url}}" class="recipe-item-card">
    <div class="recipe-item-card__pic" style="background-image: url({{recipe.img}})"></div>
    <div class="recipe-item-card__content">
        <div class="recipe-item-card__title">{{ recipe.title }}</div>
        <div class="recipe-item-card__info">{{ recipe.info | safe }}</div>
    </div>
</a> 