$recipe-card-offset: 20px;

.recipes-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    padding-right: $product-offset;
    padding-top: $product-offset;
}

.recipe-item-card {
    background: #fff;
    width: 25%;
    font-family: 'Roboto';
    color: #000;
    position: relative;
    width: calc(25% - #{$recipe-card-offset});
    margin: 0 0 $recipe-card-offset $recipe-card-offset;
    border: 1px solid #f7f7f7;
    padding-bottom: $recipe-card-offset * 3;
    background-color: #fff;
    transition: all .2s ease-in-out;
    &:hover {
        background: $blue;
        .recipe-item-card__title, .recipe-item-card__info {
            color: #fff;
        }
    }
}

.recipe-item-card__pic {
    padding-bottom: ratio(200px, 230px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.recipe-item-card__title {
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
}
.recipe-item-card__content {
    padding: 25px $recipe-card-offset;
}
.recipe-item-card__info {
    font-family: "Open Sans";
    position: absolute;
    left: $recipe-card-offset;
    bottom: $recipe-card-offset;
    font-size: 13px;
    letter-spacing: -0.5px;
    line-height: 20px;
    .icon {
        margin-right: 10px;
        color: $brand-secondary;
        font-size: 16px;
        position: relative;
        top: 2px;
    }
}


@media (max-width:740px) { 
    .recipes-list {
        display: block;
        padding: 0 15px; 
        .recipe-item-card {
            width:100%;
            margin:0;
        }
        .recipe-item-card__pic {
            padding-bottom:0;
            height: 200px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        .recipe-item-card__content {
            padding:15px 15px;
            .recipe-item-card__title {
                display: block;
                margin-bottom: 5px;
            }
            .recipe-item-card__info {
                position: static;
                display: block;
            }
        }
    }   
}