.nav-main {
	font-size: 17px;
	padding: 0 25px;
	font-family: 'Roboto';
	& > ul {
		font-weight: 500;
	}
	ul {
		font-size: 17px;
		list-style: none;
		padding: 0;
		.nav-item {
			color: #000;
			&[data-alias="recepty"] {
				.dropdown-item {
					i {
						display: none;
					}
				}
			}
			&:not(:last-child) {
				margin-bottom: 20px;
			}
			a {
				position: relative;
				display: inline-block;
				padding: 5px 0;
				color: inherit;
				.icon {
					font-size: 13px;
					position: absolute;
					right: -30px;
					top: 7px;
				}
			}
			&.opened {
				color: $blue;
				& > a {
					&::before {
						content: "";
						display: inline-block;
						position: absolute;
						z-index: -1;
						width: 100%;
						height: 7px;
						background: #e1e1e1;
						bottom: 3px;
					}
				}
				.dropdown-menu {
					display: block;
				}
			}
			&:hover {
				color: $blue;
				& > a {
					&::before {
						content: "";
						display: inline-block;
						position: absolute;
						z-index: -1;
						width: 100%;
						height: 7px;
						background: #e1e1e1;
						bottom: 3px;
					}
				}
			}
		}		
	}
	.dropdown-menu {
		z-index: 4;
		position: absolute;
		left: 100%;
		width: 100%;
		background: $blue;
		top: 0;
		height: 100%;
		padding: 70px 30px;
		text-align: left;
		display: none;
		.sub-dropdown-menu {
			font-size: 14px;
			padding: 10px 0;
			display: none;
			.sub-dropdown-item {
				a {
					padding: 7px 0;
				}
			}
		}
		.dropdown-item {
			color: #fff;
			margin-bottom: 20px;
			span {
				font-family: "Open Sans";
				cursor: pointer;
			}
			.icon {
				font-size: 8px;
				vertical-align: middle;
				display: inline-block;
				margin-left: 20px;
			}
			&.opened {
				.icon {
					transform: rotate(180deg);
				}
			}
		}
	}
}