<!-- nav-main -->
<nav class="nav-main">
	<ul class="list-unstyled">
		<li class="nav-item"><a href="#">О компании</a></li>
		<li class="nav-item">
			<a href="#">Каталог <i class="icon icon-arrow-right"></i></a>
			<ul class="dropdown-menu">
				<li class="dropdown-item"><span>Рыба</span><i class="icon icon-arrow-down"></i></li>
				<li class="dropdown-item"><a href="#">Морепродукты</a><i class="icon icon-arrow-down"></i>
					<ul class="sub-dropdown-menu">
						<li class="sub-dropdown-item"><a href="#">Гребешок</a></li>
						<li class="sub-dropdown-item"><a href="#">Кальмары</a></li>
						<li class="sub-dropdown-item"><a href="#">Краб</a></li>
						<li class="sub-dropdown-item"><a href="#">Креветки</a></li>
						<li class="sub-dropdown-item"><a href="#">Мидии</a></li>
						<li class="sub-dropdown-item"><a href="#">Морской коктейль</a></li>
						<li class="sub-dropdown-item"><a href="#">Трубач</a></li>
					</ul>
				</li>
				<li class="dropdown-item"><span>Мясо</span><i class="icon icon-arrow-down"></i></li>
				<li class="dropdown-item"><span>Овощи и фрукты</span><i class="icon icon-arrow-down"></i></li>
				<li class="dropdown-item"><span>Бакалея</span><i class="icon icon-arrow-down"></i></li>
				<li class="dropdown-item"><span>Напитки</span><i class="icon icon-arrow-down"></i></li>
			</ul>
		</li>
		<li class="nav-item"><a href="#">Концепция</a>
			<ul class="dropdown-menu">
				<li class="dropdown-item"><span>Рыба1</span><i class="icon icon-arrow-down"></i></li>
				<li class="dropdown-item"><span>Морепродукты2</span>
					<ul class="sub-dropdown-menu">
						<li class="sub-dropdown-item"><a href="#">Гребешок3</a></li>
						<li class="sub-dropdown-item"><a href="#">Кальмары4</a></li>
						<li class="sub-dropdown-item"><a href="#">Краб5</a></li>
						<li class="sub-dropdown-item"><a href="#">Креветки</a></li>
						<li class="sub-dropdown-item"><a href="#">Мидии</a></li>
						<li class="sub-dropdown-item"><a href="#">Морской коктейль</a></li>
						<li class="sub-dropdown-item"><a href="#">Трубач</a></li>
					</ul>
				</li>
				<li class="dropdown-item"><span>Мясо</span></li>
				<li class="dropdown-item"><span>Овощи и фрукты</span></li>
				<li class="dropdown-item"><span>Бакалея</span></li>
				<li class="dropdown-item"><span>Напитки</span></li>
			</ul>
		</li>
		<li class="nav-item"><a href="#">Наши продукты</a></li>
		<li class="nav-item"><a href="#">Рецепты</a></li>
		<li class="nav-item"><a href="#">Ресторан</a></li>
		<li class="nav-item"><a href="#">Доставка и оплата</a></li>
		<li class="nav-item"><a href="#">Сотрудничество</a></li>
		<li class="nav-item"><a href="#">Контакты</a></li>
	</ul>
</nav><!-- end nav-main -->
