<!-- О компании -->
{% set title = "О компании" %}
{% set page = "about" %}
{% extends "layouts/default.html" %}
<!-- ********************************************************************* -->
{% block content %}
    <div class="content-in fixed-width content-centered">
        <div class="content-section">
            <h1>О комании</h1>
            <img src="./images/samples/pic-content-06.jpg" class="img-fluid" alt="">
        </div>
        <div class="content-section">
            <h3>Устрицы Жилардо</h3>
            <p><b>Выращиваются эти устрицы в провинции Бретань, что располагается на территории Франции.</b></p>
            <div class="items-list">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="item">
                            <div class="item-list-head">
                                <span class="pic">
                                    <img src="./images/samples/pic-item-01.svg" alt="">
                                </span>
                            </div>
                            <div class="item-list-text">
                                <b>
                                    Доставка действует в пределах Алматы:
                                </b>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="item">
                            <div class="item-list-head">
                                <span class="pic">
                                    <img src="./images/samples/pic-item-02.svg" alt="">
                                </span>
                            </div>
                            <div class="item-list-text">
                                <b>
                                    Режим доставки: ежедневно с 09:00 до 23:00
                                </b>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="item">
                            <div class="item-list-head">
                                <span class="pic">
                                    <img src="./images/samples/pic-item-03.svg" alt="">
                                </span>
                            </div>
                            <div class="item-list-text">
                                <b>
                                    Доставка действует в пределах Алматы:
                                </b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-section">
            <p>
                Выращиваются эти устрицы в провинции Бретань, что располагается на территории Франции. Растут они в глубинах морей несколько лет, а потом попадают в специальные садки – клеры, что являются, по сути, специально созданными «природными» бассейнами. Там устрицы также находятся какое-то количество времени до окончания периода своего созревания.
            </p>
            <p>
                Благодаря такому способу выращивания их сладковатый вкус и запах становится более йодированным и морским, в нем появляется легкая ореховая нотка. А так же, как утверждают ценители тонкого вкуса, «арбузное» послевкусие.  
            </p>
        </div>
        {% set partnersList = [
            {
                img: 'pic-partner-01'
            },
            {
                img: 'pic-partner-02'
            },
            {
                img: 'pic-partner-03'
            },
            {
                img: 'pic-partner-04'
            },
            {
                img: 'pic-partner-05'
            },
            {
                img: 'pic-partner-06'
            },
            {
                img: 'pic-partner-07'
            },
            {
                img: 'pic-partner-08'
            },
            {
                img: 'pic-partner-09'
            },
            {
                img: 'pic-partner-10'
            },
            {
                img: 'pic-partner-11'
            },
            {
                img: 'pic-partner-12'
            },
            {
                img: 'pic-partner-13'
            },
            {
                img: 'pic-partner-14'
            }
        ] %}
        <div class="content-section section-partners">
            <h3>Наши клиенты</h3>
            <div class="list-partners">
                {% for item in partnersList %}
                <a href="#" class="item-partner">
                    <img src="./images/{{item.img}}.png" alt="">
                </a>
                {% endfor %}
            </div>
        </div>
{% endblock %}
