<!-- О компании -->
{% set title = "корзина" %}
{% set page = "cart-send" %}
{% extends "layouts/default.html" %}
<!-- ********************************************************************* -->
{% block content %}
<div class="catalog">
    {% include 'catalog/_catalog-navbar.html' %}
    <div class="cart">
        <div class="cart-send">
            <div class="text-center">
                <div class="section-title">
                    <h1 class="title-1">Заказ отправлен <br> № 001806</h1>
                </div>
                <div class="section-text">
                    <p>Наши операторы перезвонят вам в течение нескольких минут.</p>
                </div>
                <a href="#" class="btn btn-success">Заказать еще</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}