<!-- О компании -->
{% set title = "корзина" %}
{% set page = "cart" %}
{% extends "layouts/default.html" %}
<!-- ********************************************************************* -->
{% block content %}
<div class="catalog">
    {% include 'catalog/_catalog-navbar.html' %}
    <div class="cart">
        <div class="shopping-cart">
            <cart></cart>
            <div class="cart-info">
                <div class="cart-info-item">
                    <div class="cart-info-pic">
                        <img src="./images/samples/pic-cart-01.svg" alt="">
                    </div>
                    <p><b>Доставка действует в пределах Алматы:</b></p>
                    <p>Бостандыкского, Алмалинского, Медеуского (до малой станицы), Ауэзовского (до ул. б. Момышулы) районов.</p>
                </div>
                <div class="cart-info-item">
                    <div class="cart-info-pic">
                        <img src="./images/samples/pic-cart-02.svg" alt="">
                    </div>
                    <p><b>Режим доставки: ежедневно с 09:00 до 23:00</b></p>
                    <p>
                        <small>
                            Оформляя заказ на доставку c сайта, либо через call-центр, Вы даете согласие на получение sms или e-mail-рассылок, содержащих информацию рекламного характера. В том случае, если Вы не желаете получать какую-либо информацию,
                            Вы можете сообщить об этом операторам компании.
                        </small>
                    </p>
                </div>
            </div>
        </div>
        <div class="cart-form-result" style="display:none;">
            <div class="result-in"></div>
        </div>
    </div>
</div>
{% endblock %}