<!-- О компании -->
{% set title = "О компании" %}
{% set page = "catalog" %}
{% extends "layouts/default.html" %}
<!-- ********************************************************************* -->
{% block content %}
<div>
    {% include 'catalog/_catalog-navbar.html' %}
    <div class="loader" v-if="loading"></div>
    <div class="catalog">
      <div class="catalog">
        <products></products>
      </div>
    </div>
</div>
{% endblock %}