<!-- Главная страница -->
{% set title = "Рецепты" %}
{% set page = "contacts" %}
{% extends "layouts/default.html" %}
<!-- ********************************************************************* -->

{% block content %}
	<section class="section section-contacts">
		<div class="content-in content-aside">
			<div class="content-main">
				<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBSqpxyJdOLoinJI2PLsQnN7du342oMD0"></script>
                <div class="map-container">
                    <div class="map" id="mapContacts" 
                        data-lat="43.2293999" 
                        data-lng="76.9454915" 
                        data-marker="./images/map-marker.svg">
                    </div>
                </div>
			</div>
			<div class="content-sidebar">
				<div class="content-sidebar-title">
					<h2>Адрес</h2>
				</div>
				<div class="content-sidebar-in">
					<h3>Офис один, на Тимирязева</h3>
					<div class="contact-item">
						<i class="icon icon-marker"></i>
						<p>
							Пр. Суюнбая, 211, Алматы, Казахстан
							<span>
								(Необходимо ехать вниз по Суюнбая, в направлении аэропорта, поворот направо сразу после мебельного салона.)
							</span>
						</p>
					</div>
					<div class="contact-item">
						<i class="icon icon-phone"></i>
						<p>+7 (727) 317 0117</p>
					</div>
					<div class="contact-item">
						<i class="icon icon-mail"></i>
						<p>lerstongm@gmail.com</p>
					</div>
				</div>
			</div>
			<div class="mobile-map">
				<div class="map-container">
                    <div class="map" id="m-mapContacts" 
                        data-lat="43.2293999" 
                        data-lng="76.9454915" 
                        data-marker="./images/map-marker.svg">
                    </div>
                </div>
			</div>
		</div>
	</section>
{% endblock %}