<!-- Доставка -->
{% set title = "Доставка" %}
{% set page = "delivery" %}
{% extends "layouts/default.html" %}
<!-- ********************************************************************* -->
{% block content %}
    <div class="content-in fixed-width content-centered delivery-page">
        <div class="content-section">
            <h1>Доставка</h1>
            <p><b>Заказы на продукцию интернет-магазина Ocean Fresh принимаются за неделю до доставки продукции по следующим правилам.</b></p>
        </div>
        <div class="content-section">
            <div class="section-title">
                <h3 class="title-3 title-icon">
                    <img src="./images/clock-icon.png" alt="">
                    <span>Сроки доставки</span>
                </h3>
            </div>
            <div class="delivery-list">
                <div class="delivery-list-in">
                    <div class="delivery-item">
                        <div class="item-title">1</div>
                        <div class="item-meta">Все заказы интернет-магазина, полученные и оплаченные до понедельника 8:00 утра, оформляются к исполнению на текущую неделю.</div>
                    </div>
                    <div class="delivery-item">
                        <div class="item-title">2</div>
                        <div class="item-meta">Товар закупается у поставщиков по всему миру, и доставляется в свежем виде на склад компании в Алматы в течение 5 дней.</div>
                    </div>
                    <div class="delivery-item">
                        <div class="item-title">3</div>
                        <div class="item-meta">Доставка покупателям сайта осуществляется в следующие дни: суббота (до 15:00), либо понедельник-вторник-среда следующей недели.</div>
                    </div>
                    <div class="delivery-item">
                        <div class="item-title">4</div>
                        <div class="item-meta">Товар можно забрать самовывозом в пятницу, понедельник, вторник, среду.</div>
                    </div>
                    <div class="delivery-item">
                        <div class="item-title">5</div>
                        <div class="item-meta">Все заказы полученные и оплаченные позже 8:00 понедельника – автоматически переносятся на доставку через неделю.</div>
                    </div>
                    <div class="delivery-item">
                        <div class="item-title">6</div>
                        <div class="item-meta">Товары из раздела «В НАЛИЧИИ» могут доставляться в течение 1-3 рабочих дней по согласованию с менеджером.</div>
                    </div>
                </div>
            </div>

            <div class="table-delivery">
                <table>
                    <thead>
                        <tr>
                            <th colspan="2">Пн</th>
                            <th>Вт</th>
                            <th>Ср</th>
                            <th>Чт</th>
                            <th>Пт</th>
                            <th>Сб</th>
                            <th>Вс</th>
                            <th>Пн</th>
                            <th>Вт</th>
                            <th>Ср</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2" class="bg-yellow">
                                <span class="text--black">Получение заказа <br> до 8:00 онлайн</span>
                            </td>
                            <td colspan="4"  class="bg-cyan">
                                <span class="text--black">Логистика заказов со всего мира в Алматы</span>
                            </td>
                            <td class="bg-green">
                                <span class="text--white">Доставка <br> (до 15:00)</span>
                            </td>
                            <td class="bg-red"> </td>
                            <td class="bg-green not-bordered">
                                <span class="text--white">Доставка</span>
                            </td>
                            <td class="bg-green not-bordered">
                                <span class="text--white">Доставка</span>
                            </td>
                            <td class="bg-green not-bordered border-right">
                                <span class="text--white">Доставка</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="7" class="bg-yellow">
                                <span class="text--black">Получение заказа <br> до 8:00 онлайн</span>
                            </td>
                            <td class="bg-red"> </td>
                            <td colspan="3" class="bg-blue">
                                <span class="text--white">Оформление на <br> следующую неделю</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="section-title">
                <h3 class="title-3 title-icon">
                    <img src="./images/map-pins-icon.png" alt="">
                    <span>Районы доставки</span>
                </h3>
            </div>
            <div class="delivery-list">
                <div class="delivery-list-in">
                    <div class="delivery-item">
                        <div class="item-title">1</div>
                        <div class="item-meta">Доставка по городу осуществляется бесплатно при заказе от 10 000 тг, в черте улиц Майлина-Оспанова-Саина-р. Казачка в рабочее время с 9:00 до 18:00. Суббота до 15:00.</div>
                    </div>
                    <div class="delivery-item">
                        <div class="item-title">2</div>
                        <div class="item-meta">При заказе менее 10 000 тг и вне квадрата улиц Майлина-Оспанова-Саина-р. Казачка – стоимость доставки 1000 тг.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
