{% set title = "Наши продукты" %}
{% set page = "our-product" %}
{% extends "layouts/default.html" %}
<!-- ********************************************************************* -->
{% block content %}
    <div class="map-oysters">
        <div class="section-title">
            <h2>Карта устриц</h2>
            <p>Заказы на продукцию интернет-магазина Ocean Fresh принимаются за неделю до доставки продукции по следующим правилам.</p>
        </div>

        <div class="section-content">
            <div class="oysters-map" style="width: 100%; height: 600px" data-regions="'fr-nor', 'fr-bfc'">
                <div class="popover-oysters-map popover-oysters__fr-nor">
                    <div class="pic-popover"><img src="./images/samples/pic-popover-01.png"></div>
                    <b>Норвегия</b>
                    <p>Морепродукты, рыба, сыры</p>
                    <a href="#" class="country-info-modal__link">ПОДРОБНЕЕ</a>
                </div>
                <div class="popover-oysters-map popover-oysters__fr-bfc">
                    <div class="pic-popover"><img src="./images/samples/pic-popover-01.png"></div>
                    <b>Сша</b>
                    <p>Морепродукты, рыба, сыры</p>
                    <a href="#" class="country-info-modal__link">ПОДРОБНЕЕ</a>
                </div>
            </div>
        </div>
        <div class="oysters-map-modal">
            <span class="hide-modal"><i class="icon icon-close"></i></span>
            <div class="scroll-block">
                <div class="content-in fixed-width content-centered">
                    <div class="content-section">
                        <h1>Продукты из франции</h1>
                        <img src="./images/samples/pic-about-01.jpg" class="img-fluid" alt="">
                        <h3>
                            Устрицы Жилардо
                        </h3>
                        <p>
                            Выращиваются эти устрицы в провинции Бретань, что располагается на территории Франции. Растут они в глубинах морей несколько лет, а потом попадают в специальные садки – клеры, что являются, по сути, специально созданными «природными» бассейнами. Там устрицы также находятся какое-то количество времени до окончания периода своего созревания.
                        </p>
                        <p>
                            Благодаря такому способу выращивания их сладковатый вкус и запах становится более йодированным и морским, в нем появляется легкая ореховая нотка. А так же, как утверждают ценители тонкого вкуса, «арбузное» послевкусие.  
                        </p>
                    </div>
                    <div class="content-section">
                        <img src="./images/samples/pic-about-02.jpg" class="img-fluid" alt="">
                        <h3>
                            Французкие сыры
                        </h3>
                        <p>
                            Выращиваются эти устрицы в провинции Бретань, что располагается на территории Франции. Растут они в глубинах морей несколько лет, а потом попадают в специальные садки – клеры, что являются, по сути, специально созданными «природными» бассейнами. Там устрицы также находятся какое-то количество времени до окончания периода своего созревания.
                        </p>
                        <p>
                            Благодаря такому способу выращивания их сладковатый вкус и запах становится более йодированным и морским, в нем появляется легкая ореховая нотка. А так же, как утверждают ценители тонкого вкуса, «арбузное» послевкусие.  
                        </p>
                    </div>  
                </div>
            </div>
        </div>
    </div>
{% endblock %}
