<!-- О компании -->
{% set title = "Как мы работаем" %}
{% set page = "our_work" %}
{% extends "layouts/default.html" %}
<!-- ********************************************************************* -->
{% block content %}
    <div class="content-in fixed-width content-centered">
        <div class="content-section">
            <h1>Как мы работаем</h1>
            <p><b>Мы выстраиваем наши рабочие процессы таким образом, чтобы представить лучшие продукты со всего мира в максимально свежем виде.</b></p>
            <div class="content-slider">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="./images/samples/pic-content-01.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="./images/samples/pic-content-01.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
                <div class="swiper-controls">
                    <div class="swiper-action-btn swiper-prev"><i class="icon icon-arrow-left"></i></div>
                    <div class="swiper-action-btn swiper-next"><i class="icon icon-arrow-right"></i></div>
                </div>
            </div>
        </div>
        <div class="content-section">
            <h1>Как мы выбираем поставщиков</h1>
            <div class="items-list">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="item">
                            <div class="item-list-head">
                                <span class="num">1</span>
                            </div>
                            <div class="item-list-text">
                                <b>
                                    Всемирно известные производители с подтвержденной репутацией
                                </b>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="item">
                            <div class="item-list-head">
                                <span class="num">2</span>
                            </div>
                            <div class="item-list-text">
                                <b>
                                    Только те компании, у которых свои промыслы
                                </b>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="item">
                            <div class="item-list-head">
                                <span class="num">3</span>
                            </div>
                            <div class="item-list-text">
                                <b>
                                    Только те компании, на производстве которых мы побывали лично
                                </b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-section">
            <h1>Как происходит поставка морепродуктов</h1>
            <div class="items-list">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="item">
                            <div class="item-list-head">
                                <span class="pic">
                                    <img src="./images/samples/pic-item-01.svg" alt="">
                                </span>
                            </div>
                            <div class="item-list-text">
                                    Происходит вылов рыбы 
                                    и морепродуктов.
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="item">
                            <div class="item-list-head">
                                <span class="pic">
                                    <img src="./images/samples/pic-item-02.svg" alt="">
                                </span>
                            </div>
                            <div class="item-list-text">
                                    В тот же день они доставляются в аэропорт и отправляются в Казахстан самолетом – мы  используем  только  авиадоставку.
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="item">
                            <div class="item-list-head">
                                <span class="pic">
                                    <img src="./images/samples/pic-item-03.svg" alt="">
                                </span>
                            </div>
                            <div class="item-list-text">
                                    Самолет приземляется в Казахстане.
                                    Мы не пользуемся услугами таможенных брокеров – сами растамаживаем и доставляем продукцию на склад максимально быстро.
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="item">
                            <div class="item-list-head">
                                <span class="pic">
                                    <img src="./images/samples/pic-item-04.svg" alt="">
                                </span>
                            </div>
                            <div class="item-list-text">
                                    Продукция доставляется на собственный склад Ocean Fresh, расположенный вблизи от аэропорта. 
                                    По оснащению он не имеет аналогов в Казахстане. 
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="item">
                            <div class="item-list-head">
                                <span class="pic">
                                    <img src="./images/samples/pic-item-05.svg" alt="">
                                </span>
                            </div>
                            <div class="item-list-text">
                                    В течение нескольких дней продукция доставляется клиентам.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-section">
            <h1>Оснащение склада</h1>
            <img src="./images/samples/pic-content-02.jpg" class="img-fluid" alt="">
            <h3>Холодильное оборудование</h3>
            <p>
                Наш склад оснащен всем необходимым оборудованием, с соблюдением всех  санитарных норм. Он оснащен самым мощным ледогенератором на всей территории РК, который производит специальный лед для охлаждения рыбы и морепродуктов. Склад оборудован 3-мя холодильными камерами с возможностью выбора 1 из 3 температурных режимов – это позволяет сохранить индивидуальный температурный режим для каждого вида продуктов.
            </p>
            <img src="./images/samples/pic-content-03.jpg" class="img-fluid" alt="">
            <h3>Разделочный цех</h3>
            <p>
                Исходя из запросов наших клиентов, мы организовали высокотехнологичный разделочный цех, оснащенный всеми необходимым оборудованием. Оформляя у нас заказ, Вы получаете самую свежую продукцию, доставленную в самые короткие сроки, с соблюдением необходимых санитарных норм и температурных режимов.
            </p>
            <img src="./images/samples/pic-content-04.jpg" class="img-fluid" alt="">
            <h3>
                Упаковочный Цех
            </h3>
            <p>
                Помимо сохранения свежести, мы можем предоставить индивидуальную упаковку для каждого клиента, исходя из его потребностей и пожеланий, в нашем распоряжении собственный упаковочный цех, который удовлетворит самого взыскательного потребителя. Вакуумная машина позволяет обеспечить свежесть рыбы и морепродуктов на длительный срок, в ее первозданном виде.
            </p>
        </div>
        <div class="content-section">
            <h1>Логистика</h1>
            <img src="./images/samples/pic-content-05.jpg" class="img-fluid" alt="">
            <p><b>Наша компания располагает собственным автопарком, специально оборудованных автомобилей, с возможностью дальнейшей регулировки температурных режимов. Все автомобили проходят тщательный технический и санитарный осмотр перед каждой погрузкой товара.</b></p>
        </div>
    </div>
{% endblock %}
