<!-- О компании -->
{% set title = "Продукт" %}
{% set page = "product" %}
{% extends "layouts/default.html" %}
<!-- ********************************************************************* -->
{% block content %}
<div class="app" id="app">
  <div class="loader" v-if="loading"></div>
   <div class="catalog">
      {% include 'catalog/_catalog-navbar.html' %}
      <product-inside></product-inside>
   </div>
</div>
{% endblock %}