<!-- Главная страница -->
{% set title = "Рецепты" %}
{% set page = "recipes" %}
{% extends "layouts/default.html" %}
<!-- ********************************************************************* -->

{% set recipesInsideItems = [
    {
      title: 'Шаг 1',
      text: 'Сделать рывок маринада, объединив в блендере чеснока, имбиря, перца кашпо, перца, черного перца, корицы, мускатного ореха, тимьяна, коричневого сахара, апельсинового сока, сока лайма, соевого соуса, уксуса, масла и соли , Смешайте на высоком уровне, пока смесь не станет полностью гладкой.',
      img: './images/samples/recipes-inside-item-pic01.jpg'
    },
    {
      title: 'Шаг 2',
      text: 'Пэт филе барамунди очень сухое, затем поместите в сумку на молнии и накройте маринад. Запечатайте сумку и передвиньте рыбу вокруг, чтобы убедиться, что она полностью покрыта. Поместите мешок в холодильник и мариновать в течение 30 минут.',
      img: './images/samples/recipes-inside-item-pic02.jpg'
    },
    {
      title: 'Шаг 3',
      text: 'Пока рыба маринована, подготовьте сальсу, предварительно разогрев гриль до средней высокой температуры. Разрежьте ананас и красный лук на 1 дюйм толстые ломтики, затем нанесите их вместе с халапеньо и лаймами с оливковым маслом и приправьте солью. Положите фрукты и овощи на гриль и позвольте им косить со всех сторон, за исключением лаймов, которые нужно только на подошве.',
      img: './images/samples/recipes-inside-item-pic03.jpg'
    },
    {
      title: 'Шаг 4',
      text: 'Выньте из гриля и дайте остыть, затем нарежьте ананас, красный лук и jalapeño в кусочки размером с укусом. Удалите семена из jalapeño для более мягкой сальсы. Соедините ананас, красный лук, халапеньо, кинзу и оливковое масло в миске, затем приправьте соль и сожмите в сок из жареных лаймов. Смешайте, попробуйте и приправьте при необходимости, затем отложите.',
      img: './images/samples/recipes-inside-item-pic04.jpg'
    },
    {
      title: 'Шаг 5',
      text: 'Удалите рыбу из мешка, затем вытрите большую часть маринада, оставив легкое покрытие позади. Обязательно очистите гриль после жарки фруктов и овощей и протрите его маслом. Полейте рыбу немного больше масла и аккуратно протрите, чтобы распределить. Поместите рыбу на горячий гриль и дайте варить 3-4 минуты с каждой стороны, в зависимости от толщины. Рыба будет готова перевернуть, когда она начнет превращаться в непрозрачную по краям и легко поднимается с решетки.',
      img: './images/samples/recipes-inside-item-pic04.jpg'
    },
    {
      title: 'Шаг 6',
      text: 'Осторожно перенесите филе на сервировочное блюдо и сверху с начинкой из ананаса на гриле. Украсить cilantro и подавать с известковыми клиньями на стороне',
      img: './images/samples/recipes-inside-item-pic06.jpg'
    }
] %}
{% set recipeItems = [
    {
        img: './images/samples/pic-recipe-01.jpg',
        title: 'Сибас на мангале',
        info: '<i class="icon icon-timer"></i> Приготовление: 40 минут',
        url: 'recipe-inside.html'
    },
    {
        img: './images/samples/pic-recipe-02.jpg',
        title: 'Сибас, запеченный в сливках с беконом',
        info: '<i class="icon icon-timer"></i> Приготовление: 1 час',
        url: 'recipe-inside.html'
    },
    {
        img: './images/samples/pic-recipe-03.jpg',
        title: 'Сибас, запеченный с лимоном и травами в духовке',
        info: '<i class="icon icon-timer"></i> Приготовление: 30 минут',
        url: 'recipe-inside.html'
    }
] %}


{% block content %}
	{% include 'top-banner/_top-banner.html' %}
	<section class="section section-recipes-inside">
		<div class="recipes-recomend-items">
			<div class="recomend-item">
				<div class="recomend-img">
					<img src="./images/samples/plate-icon.svg" alt="">
				</div>
				<div class="recomend-text">
					<small>Повод</small>
					<strong>Романтический ужин</strong>
				</div>
			</div>
			<div class="recomend-item">
				<div class="recomend-img">
					<img src="./images/samples/plate-icon.svg" alt="">
				</div>
				<div class="recomend-text">
					<small>Повод</small>
					<strong>Романтический ужин</strong>
				</div>
			</div>
			<div class="recomend-item">
				<div class="recomend-img">
					<img src="./images/samples/plate-icon.svg" alt="">
				</div>
				<div class="recomend-text">
					<small>Повод</small>
					<strong>Романтический ужин</strong>
				</div>
			</div>
		</div>
		<div class="m-content-sidebar">
			<div class="content-sidebar-title">
				<h3>Ингредиенты:</h3>
				<i class="icon icon-book"></i>
			</div>
			<ul>
				<li><b>Сибас — 2 шт.</b></li>
				<li><b>Соль, перец по вкусу</b></li>
				<li><b>Оливки — 8 шт.</b></li>
				<li><b>Маслины — 8 шт.</b></li>
				<li><b>Оливковое масло — 4 ст. л.</b></li>
				<li><b>Зелень петрушки — (стебли) 30 г.</b></li>
				<li><b>Устричный соус — 1 ст. л.</b></li>
				<li><b>Жидкость из-под оливок — 1-2 ст. л.</b></li>
				<li><b>Тимьян веточки — 4 шт.</b></li>
				<li><b>Лимон — 1 шт.</b></li>
			</ul>
		</div>
		<div class="content-in content-aside">
			<div class="content-main">
				<div class="content-main-title">
					<h2>Способ приготовления:</h2>
				</div>
				<div class="content-items">
				 	{% for item in recipesInsideItems %}
				        {% include 'recipes-inside/_recipes-inside-item.html' %}
			      	{% endfor %}
				</div>
				<div class="recipes-inside-btn-back">
					<a href="#" class="btn btn-success btn-back">Назад к заказу</a>
				</div>
				<div class="recipes-inside-social-links">
					<div class="social-links">
						<div class="social-title">
							<b>Поделись с друзьями:</b>
						</div>
						<div class="likely">
						  	<div class="twitter">Твитнуть</div>
						  	<div class="facebook">Поделиться</div>
						  	<div class="vkontakte">Поделиться</div>
						</div>
					</div>
				</div>
			</div>
			<div class="recipes-more">
				<h2>Другие рецепты</h2>
				<div class="resipe-list-smaller">
					{% for recipe in recipeItems %}
			            {% include 'recipe-item-card/_recipe-item-card.html' %}
			        {% endfor %}
				</div>
			</div>
			<div class="content-sidebar" data-stycky="">
				<div class="content-sidebar-title">
					<h3>Ингредиенты:</h3>
					<i class="icon icon-book"></i>
				</div>
				<ul>
					<li><b>Сибас — 2 шт.</b></li>
					<li><b>Соль, перец по вкусу</b></li>
					<li><b>Оливки — 8 шт.</b></li>
					<li><b>Маслины — 8 шт.</b></li>
					<li><b>Оливковое масло — 4 ст. л.</b></li>
					<li><b>Зелень петрушки — (стебли) 30 г.</b></li>
					<li><b>Устричный соус — 1 ст. л.</b></li>
					<li><b>Жидкость из-под оливок — 1-2 ст. л.</b></li>
					<li><b>Тимьян веточки — 4 шт.</b></li>
					<li><b>Лимон — 1 шт.</b></li>
				</ul>
			</div>
		</div>
	</section>
{% endblock %}