<!-- О компании -->
{% set title = "Рецепты" %}
{% set page = "recipes" %}
{% extends "layouts/default.html" %}
<!-- ********************************************************************* -->
{% block content %}
<div class="app" id="app">
    {% include 'catalog/_catalog-navbar.html' %}
    <div class="recipes-list">
        {% set recipeItems = [
            {
                img: './images/samples/pic-recipe-01.jpg',
                title: 'Сибас на мангале',
                info: '<i class="icon icon-timer"></i> Приготовление: 40 минут',
                url: 'recipe-inside.html'
            },
            {
                img: './images/samples/pic-recipe-02.jpg',
                title: 'Сибас, запеченный в сливках с беконом',
                info: '<i class="icon icon-timer"></i> Приготовление: 1 час',
                url: 'recipe-inside.html'
            },
            {
                img: './images/samples/pic-recipe-03.jpg',
                title: 'Сибас, запеченный с лимоном и травами в духовке',
                info: '<i class="icon icon-timer"></i> Приготовление: 30 минут',
                url: 'recipe-inside.html'
            },
            {
                img: './images/samples/pic-recipe-04.jpg',
                title: 'Сибас с польским соусом',
                info: '<i class="icon icon-timer"></i> Приготовление: 30 минут',
                url: 'recipe-inside.html'
            },
            {
                img: './images/samples/pic-recipe-01.jpg',
                title: 'Сибас на мангале',
                info: '<i class="icon icon-timer"></i> Приготовление: 40 минут',
                url: 'recipe-inside.html'
            },
            {
                img: './images/samples/pic-recipe-02.jpg',
                title: 'Сибас, запеченный в сливках с беконом',
                info: '<i class="icon icon-timer"></i> Приготовление: 1 час',
                url: 'recipe-inside.html'
            },
            {
                img: './images/samples/pic-recipe-03.jpg',
                title: 'Сибас, запеченный с лимоном и травами в духовке',
                info: '<i class="icon icon-timer"></i> Приготовление: 30 минут',
                url: 'recipe-inside.html'
            },
            {
                img: './images/samples/pic-recipe-04.jpg',
                title: 'Сибас с польским соусом',
                info: '<i class="icon icon-timer"></i> Приготовление: 30 минут',
                url: 'recipe-inside.html'
            }
        ] %}
        {% for recipe in recipeItems %}
            {% include 'recipe-item-card/_recipe-item-card.html' %}
        {% endfor %}
    </div>
</div>
{% endblock %}