<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="HandheldFriendly" content="true">
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">
  <meta name="theme-color" content="#000000">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  <title>{{title}}</title>

  <!-- build:css styles/vendor.min.css -->
  <link rel="stylesheet" href="/bower_components/swiper/dist/css/swiper.css">
  <link rel="stylesheet" href="/bower_components/Likely/release/likely.css">
  <link rel="stylesheet" href="/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css">
  <!-- endbuild -->

  <!-- build:css styles/main.min.css -->
  <link rel="stylesheet" href="styles/main.css" />
  <!-- endbuild -->
</head>

<body data-template="{{page}}">

  <!--[if lt IE 10]>
    <p class="browserupgrade">
      You are using an <strong>outdated</strong> browser.
      Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
    </p>
  <![endif]-->

  <!-- .wrapper -->
  <div class="wrapper" id="app">

    <div class="wrapper-in">
      {% include "m-header/_m-header.html" %}
      
      {% include "sidebar/_sidebar.html" %}

      <!-- .content -->
      <main class="content">
        {% block content %}{% endblock %}
        <div class="overlay"></div>
      </main><!-- end .content -->

      {% include "m-footer/_m-footer.html" %}

    </div>

  </div><!-- end .wrapper -->

  <!-- build:js scripts/vendor.min.js -->
  <script src="/node_modules/jquery/dist/jquery.js"></script>
  <script src="/bower_components/swiper/dist/js/swiper.js"></script>
  <script src="/bower_components/jqvmap/dist/jquery.vmap.js"></script>
  <script src="/bower_components/jqvmap/dist/maps/jquery.vmap.world.js"></script>
  <script src="scripts/fr-merc-en.js"></script>
  <script src="/bower_components/Likely/release/likely.js"></script>
  <script src="/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
  <!-- endbuild -->

  <!-- build:js scripts/main.min.js -->
  <script src="scripts/main.js"></script>
  <script src="components/promo-slider/_promo-slider.js"></script>
  <script src="components/nav-main/_nav-main.js"></script>
  <script src="components/about-map/_about-map.js"></script>
  <script src="components/recipes-inside/_recipes-inside.js"></script>
  <script src="components/contacts/_contacts.js"></script>
  <script src="components/m-header/_m-header.js"></script>
  <script src="components/map-oysters/_map-oysters.js"></script>
  <!-- endbuild -->

  <!-- build:js scripts/app.js -->
  <script src="/bower_components/axios/dist/axios.js"></script>
  <script src="/bower_components/lodash/dist/lodash.js"></script>
  <script src="/bower_components/vue/dist/vue.min.js"></script>
  
  <script src="/bower_components/vee-validate/dist/vee-validate.min.js"></script>
  <script src="/bower_components/vee-validate/dist/locale/ru.js"></script>
  <script src="/node_modules/vue-the-mask/dist/vue-the-mask.js"></script>
  <script src="scripts/app.js"></script>
  <!-- endbuild -->

</body>

</html>
